<div class="mat-card-style">
    <app-page-title [title]="'Order Summary'"></app-page-title>

    <div *ngIf="doctor">
        <app-professional-card
            [professional]="doctor"
            ></app-professional-card>
    </div>

    <div>
        <span>Total amount: </span><span>LKR {{doctor.priceForAppointment}}</span>
        <br>
        <br>
    </div>
    <button (click)="payment()" mat-raised-button color="primary" style="width: 320px">Continue to payment</button>
    <br>
    <br>
    <button (click)="goBack()" style="width: 320px" mat-raised-button color="secondary">Back</button>
</div>
