<div [ngClass]="isOverTheDoctorCard(professional?.userId) ? 'shadow' : ''" (mouseenter)="onMouseEnter(professional?.userId)" (mouseleave)="onMouseLeave()">
    <mat-card (click)="selectProfessional_(professional)" style="width: 320px; height: auto">
        <table>
            <tr>
                <th style="width: 120px; height: 100px; align-content: center">
                    <img [src]="profileImageURL" width="100px">
                </th>
                <th>
                </th>
                <th>
                    <table>
                        <tr>
                            <th style="font-size: medium; text-align: left">
                                {{professional?.title}} {{professional?.firstName}} {{professional?.lastName}}
                            </th>
                        </tr>
                        <tr>
                            <td style="font-size: x-small; color: #797D7F;  text-align: left">
                                {{professional?.qualifications}}
                            </td>
                        </tr>
                        <tr>
                            <mat-divider style="left: inherit; width: 160px"></mat-divider>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td style="font-size: small; color: #797D7F;  text-align: left">
                                Specializations:
                            </td>
                        </tr>
                        <tr>
                        </tr>
                            <tr>
                                <td style=" color: #797D7F; font-size: x-small; text-align: left">
                                    {{professional?.specialityA}}
                                </td>
                            </tr>
                            <tr>
                                <td style=" color: #797D7F; font-size: x-small; text-align: left">
                                    {{professional?.specialityB}}
                                </td>
                            </tr>
                            <tr>
                                <td style=" color: #797D7F; font-size: x-small; text-align: left">
                                    {{professional?.specialityC}}
                                </td>
                            </tr>
                        <ng-container *ngIf="chargeVisible">
                            <tr>
                                <mat-divider style=" color: #797D7F; left: inherit; width: 160px"></mat-divider>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style=" color: #797D7F; font-size: small; text-align: left">
                                    Charge per consultation:
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style=" color: #797D7F; font-size: x-small; text-align: left">
                                    {{currency}} {{professional?.priceForAppointment}}
                                </td>
                            </tr>
                        </ng-container>
                        <tr>
                    </table>
                </th>
            </tr>
        </table>
    </mat-card>
</div>
<br>
