<div (click)="checkCard()" class="professional-card" [ngClass]="{'expanded': selected}">
    <div class="professional-card-summary">
        <div class="professional-card-item">
            <img [src]="profileImageURL">
        </div>
        <div class="professional-card-item">
            <p class="professional-card-item-name">
                {{professional?.title}} {{professional?.firstName}} {{professional?.lastName}}
            </p>
            <!--        <p class="professional-card-item-content">-->
            <!--            {{professional?.qualifications}}-->
            <!--        </p>-->
            <!--        <p class="professional-card-item-content">-->
            <!--            {{professional?.qualifications}}-->
            <!--        </p>-->
            <p class="professional-card-item-content">
                <b>{{dataHandlerService.convertProfessionalTypeFromDBFormat(
                    professional?.professionalType) | uppercase}}</b>
            </p>
            <ng-container *ngIf="professional?.specialityA || professional?.specialityB || professional?.specialityC">
                <!--            <p class="professional-card-item-content">-->
                <!--                <mat-divider style="left: inherit;"></mat-divider>-->
                <!--            </p>-->
                <p class="professional-card-item-content">
                    ( {{professional?.specialityA}}{{professional?.specialityB ?
                    ', ' + professional?.specialityB : ''}}{{professional?.specialityC ?
                    ', ' + professional?.specialityC : ''}} )
                </p>
            </ng-container>
            <ng-container *ngIf="professional?.specialityA">
                <!--            <p class="professional-card-item-content" style="padding-bottom: 10px">-->
                <!--                <mat-divider style="left: inherit;"></mat-divider>-->
                <!--            </p>-->
                <p class="professional-card-item-content" style="padding-top: 10px; color: #4CAF50">
                    <b>{{professional?.nextAvailableTime}}</b>
                </p>
            </ng-container>
        </div>
    </div>
    <div *ngIf="selected" class="professional-card-details">
        <p class="professional-card-details-content">
            <b>{{'Qualifications (as in the stamp):' | uppercase}}</b>
        </p>
        <p class="professional-card-details-content" style="margin-left: 20px">
            {{professional?.qualifications}}
        </p>
        <p class="professional-card-details-content">
            <b>{{'Bio:' | uppercase}}</b>
        </p>
        <p class="professional-card-details-content" style="text-align: justify; margin-left: 20px">
            Dr. (Mrs) Ranasinghe is a Board Certified Consultant Endocrinologist and had her Clinical
            Trainings at Addenbrookes hospital, Cambridge, UK. She has published many research articles
            in diverse areas of Endocrinology.
        </p>
        <p class="professional-card-details-content price" style="text-align: right; font-size: small; color: #001f72">
            <br>
<!--            Price per consultation: <b>{{currency}} {{professional?.priceForAppointment}}</b>-->
            <b>Price: {{currency}} {{professional?.priceForAppointment}}</b>
        </p>
<!--        <p class="professional-card-details-content" style="text-align: justify; margin-left: 20px">-->
<!--            {{currency}} {{professional?.priceForAppointment}}-->
<!--        </p>-->
        <div class="professional-card-details-content mk-button">
            <button (click)="selectProfessional_($event, professional)" class="default-button secondary"
                    style="alignment: right">Make Appointment
            </button>
        </div>
    </div>
</div>
