<div [ngClass]="isOverTheDoctorCard(professional.id) ? 'shadow' : ''" (mouseenter)="onMouseEnter(professional.id)" (mouseleave)="onMouseLeave()">
    <mat-card (click)="selectProfessional_(professional.id)" style="width: 320px; height: auto">
        <table>
            <tr>
                <th style="width: 120px; height: 100px; align-content: center">
                    <img src="./assets/img/doctor2.jpg" width="100px" height="100px">
                </th>
                <th>
                </th>
                <th>
                    <table>
                        <tr>
                            <th style="font-size: medium; text-align: left">
                                {{professional.title}} {{professional.firstName}} {{professional.lastName}}
                            </th>
                        </tr>
                        <tr>
                            <td style="font-size: x-small; color: #797D7F;  text-align: left">
                                {{professional?.qualifications}}
                            </td>
                        </tr>
                        <tr>
                            <mat-divider style="left: inherit; width: 160px"></mat-divider>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td style="font-size: small; color: #797D7F;  text-align: left">
                                Specializations:
                            </td>
                        </tr>
                        <tr>
                        </tr>
<!--                        <div *ngFor="let speciality of specialities">-->
                            <tr>
                                <td style=" color: #797D7F; font-size: x-small; text-align: left">
                                    {{professional?.specialityA}}
                                </td>
                            </tr>
                            <tr>
                                <td style=" color: #797D7F; font-size: x-small; text-align: left">
                                    {{professional?.specialityB}}
                                </td>
                            </tr>
                            <tr>
                                <td style=" color: #797D7F; font-size: x-small; text-align: left">
                                    {{professional?.specialityC}}
                                </td>
                            </tr>
<!--                        </div>-->
                        <tr>
                            <mat-divider style=" color: #797D7F; left: inherit; width: 160px"></mat-divider>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td style=" color: #797D7F; font-size: small; text-align: left">
                                Charge per consultation:
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td style=" color: #797D7F; font-size: x-small; text-align: left">
                                {{professional.consultationPrice}}
                            </td>
                        </tr>
                        <tr>
                    </table>
                </th>
            </tr>
        </table>
        <table>
            <tr>
                <th width="240px">

                </th>
                <th>
                    <ng-container *ngIf="false && professional.isSkypePreferred">
                        <img src="./assets/img/Icon-Skype.jpg" width="12px" height="12px">
                    </ng-container>
                    <ng-container *ngIf="false && professional.isWhatsAppPreferred">
                        <span style="padding-left: 7px"><img src="./assets/img/whatsapp.jpg" width="15px" height="15px"></span>
                    </ng-container>
                </th>
            </tr>
        </table>
    </mat-card>
</div>
<br>
