<div class="mat-card-style">
    <h1 style="font-size: x-large">{{patient.patientName}}</h1>

    <p style="font-size: small">Booking Number: {{booking.id}}</p>
    <p style="font-size: small">WhatApp number: <b>{{patient.whatsAppNumber}}</b></p>

    <p style="font-size: small">Booking Status: {{booking.status}}</p>

    <ng-container *ngIf="!isPatientDetailsShown">
        <button (click)="isPatientDetailsShown = !isPatientDetailsShown" style="width: 180px" color="primary" mat-flat-button>Show Patient Details</button>    <br>
    </ng-container>
    <ng-container *ngIf="isPatientDetailsShown">
        <button (click)="isPatientDetailsShown = !isPatientDetailsShown" style="width: 180px" color="primary" mat-flat-button>Hide Patient Details</button>    <br>
    </ng-container>
    <br>
    <ng-container *ngIf="isPatientDetailsShown">
        <p style="font-size: small">Booking Number: {{booking.id}}</p>
        <p style="font-size: small">WhatApp number: <b>{{patient.whatsAppNumber}}</b></p>
        <p style="font-size: small">Booking Status: {{booking.status}}</p>
    </ng-container>
    <mat-divider></mat-divider>
    <br>

    <button [disabled]="booking.status !== 'BOOKING_NOT_STARTED'" style="width: 320px" color="primary" mat-flat-button>Start Consultation</button>    <br>
    <br>

    <button [disabled]="booking.status === 'BOOKING_NOT_STARTED' || booking.status === 'BOOKING_CANCELLED'" style="width: 320px" mat-stroked-button>End Consultation</button>
    <br>
    <br>

    <button style="width: 320px" color="accent" mat-flat-button>Prescription</button>
    <br>
    <br>

    <br>
    <p style="font-size: large;">Conversation:</p>
    <mat-divider></mat-divider>


    <div *ngFor="let message of booking.messageThread">
        <div *ngIf="message.sender === 'doctor'" style="align: right">
            <p style="font-style: italic; font-size: small; text-align:right; color: cornflowerblue" role="listitem">You: {{message.message}}</p>
        </div>
        <div *ngIf="message.sender === 'patient'" >
            <p style="font-style: italic; font-size: small; text-align:left; color: slategray" role="listitem">{{booking.patientName}}: {{message.message}}</p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <button [disabled]="booking.status === 'BOOKING_CANCELLED'" style="width: 320px" mat-flat-button  color="warn" >Cancel Booking</button>
    <br>
    <br>

    <button [disabled]="booking.status !== 'BOOKING_CANCELLED'" style="width: 320px" mat-stroked-button>Reactivate Booking</button>

</div>
