<div class="app-footer">
    <div align="center">
        <span style="padding-right: 25px">About Us</span>
        <span>|</span>
        <span style="padding-left: 25px; padding-right: 25px">Terms & Conditions</span>
        <span>|</span>
        <span style="padding-left: 25px; padding-right: 25px">FAQs</span>
        <span>|</span>
        <span style="padding-left: 25px;">Contact Us</span>
        <br>
        <br>
        <img src="./assets/img/payments low footer.png" width="250px">
        <p style="font-size: small;">Copyright © 2020 WellBeey. All Rights Reserved</p>
        <br>
    </div>
</div>
