<div class="mat-card-style">
    <br>
    <div align="center">
        <ng-container *ngIf="paymentResponseData && isPaymentSuccessful">
            <img src="./assets/img/successfulPayment.png" width="300px"/>
        </ng-container>
        <ng-container *ngIf="paymentResponseData && !isPaymentSuccessful">
            <img src="./assets/img/failedPayment.png" width="300px"/>
        </ng-container>
        <ng-container *ngIf="!paymentResponseData">
            <img src="./assets/img/pageLoadError.png" width="300px"/>
        </ng-container>
        <ng-container *ngIf="paymentResponseData && isPaymentSuccessful">
            <div align="left">
                <span>Card No.: {{paymentResponseData?.cardNo}}</span><br>
                <span>Name on card: {{paymentResponseData?.cardHolder}}</span><br>
                <span>Amount: {{paymentResponseData?.currency}} {{paymentResponseData?.paymentAmt}}</span><br>
                <span>Comment: {{paymentResponseData?.respTxt }}</span><br>
                <span>Ref. number: {{paymentResponseData?.txnRef}}</span>
            </div>
            <br>
            <ngb-alert align="left" [dismissible]="false">
                <span>Appointment Id: {{paymentResponseData?.appointment?.appointmentId}}</span><br>
                <span>Professional: {{paymentResponseData?.appointment?.doctorData?.title}}. {{paymentResponseData?.appointment?.doctorData?.firstName}} {{paymentResponseData?.appointment?.doctorData?.lastName}}</span><br>
                <span>Date: {{paymentResponseData?.appointment?.appointmentDate}}</span><br>
                <span>Time: {{getTime(paymentResponseData?.appointment?.appointmentTime)}}</span>
            </ngb-alert>
        </ng-container>
        <ng-container *ngIf="paymentResponseData && !isPaymentSuccessful">
            <div align="left">
                <span>Card No: {{paymentResponseData?.cardNo}}</span><br>
                <span>Name on card: {{paymentResponseData?.cardHolder}}</span><br>
                <span>Reason: {{paymentResponseData?.respTxt}}</span><br>
                <span>Ref. number: {{paymentResponseData?.txnRef}}</span>
            </div>
        </ng-container>
        <br>
        <ng-container *ngIf="paymentResponseData && isPaymentSuccessful">
            <button (click)="goToBooking()" mat-raised-button color="secondary" style="width: 240px" >Go to my bookings</button>
            <br>
            <br>
        </ng-container>
        <button (click)="goToDashboard()" mat-raised-button color="secondary" style="width: 240px" >Go to my profile</button>
    </div>
</div>
