<div class="mat-card-style">
    <ng-container *ngIf="paymentResponseData && isPaymentSuccessful">
        <img src="./assets/img/successfulPayment.png" width="300px"/>
    </ng-container>
    <ng-container *ngIf="paymentResponseData && !isPaymentSuccessful">
        <img src="./assets/img/failedPayment.png" width="300px"/>
    </ng-container>
    <ng-container *ngIf="!paymentResponseData">
        <img src="./assets/img/pageLoadError.png" width="300px"/>
    </ng-container>
    <ng-container *ngIf="paymentResponseData && isPaymentSuccessful">
        <div class="banner plain left-aligned">
            <p style="font-size: x-small"><b>Card No.: </b>{{paymentResponseData?.cardNo}}</p>
            <p style="font-size: x-small"><b>Name on card: </b>{{paymentResponseData?.cardHolder}}</p>
            <p style="font-size: x-small"><b>Amount: </b>{{paymentResponseData?.currency}} {{paymentResponseData?.paymentAmt}}</p>
            <p style="font-size: x-small"><b>Comment: </b>{{paymentResponseData?.respTxt }}</p>
            <p style="font-size: x-small"><b>Ref. number: </b>{{paymentResponseData?.txnRef}}</p>
        </div>
        <div class="banner success left-aligned">
            <p style="font-size: x-small"><b>Appointment Id: </b>{{paymentResponseData?.appointment?.appointmentId}}</p>
            <p style="font-size: x-small"><b>Professional: </b>{{paymentResponseData?.appointment?.doctorData?.title}}
                . {{paymentResponseData?.appointment?.doctorData?.firstName}} {{paymentResponseData?.appointment?.doctorData?.lastName}}
            </p>
            <p style="font-size: x-small"><b>Date: </b>{{paymentResponseData?.appointment?.appointmentDate}}</p>
            <p style="font-size: x-small"><b>Time: </b>{{getTime(paymentResponseData?.appointment?.appointmentTime)}}</p>
        </div>
    </ng-container>
    <div *ngIf="paymentResponseData && !isPaymentSuccessful" class="banner plain left-aligned">
        <p style="font-size: x-small"><b>Card No.: </b>{{paymentResponseData?.cardNo}}</p>
        <p style="font-size: x-small"><b>Name on card: </b>{{paymentResponseData?.cardHolder}}</p>
        <p style="font-size: x-small"><b>Reason: </b>{{paymentResponseData?.respTxt}}</p>
        <p style="font-size: x-small"><b>Ref. number: </b>{{paymentResponseData?.txnRef}}</p>
    </div>
    <div class="banner warning" *ngIf="paymentResponseData">
        <p style="color: #d84344"><b>Please upload the related medical reports (if any) before the consultation starts</b></p>
    </div>
    <ng-container *ngIf="paymentResponseData && isPaymentSuccessful">
        <button (click)="goToAppointment()" class="default-button">Go to my appointments</button>
        <br>
    </ng-container>
</div>
<!--    Modal-->
<div *ngIf="loaderVisible" id="myModal" class="custom-modal">
    <div class="custom-modal-content">
        <div class="loader"></div>
    </div>
</div>
<!--    Modal end-->
