<div class="mat-card-style">
    <mat-label style="font-size: small">Average Time For Consultation:</mat-label>
    <br>
    <mat-label>20 minutes</mat-label>
    <br>
    <br>

    <p>Weekly Schedule for consultations:</p>
    <mat-accordion>
        <div *ngFor="let schedule of scheduleOfDoc.schedule;">
            <mat-expansion-panel style="width: 320px">
                <mat-expansion-panel-header>
                    <mat-panel-title><b>{{schedule.title}}</b></mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <br>
                <p align="center"><b><mat-checkbox>Time Slot 01</mat-checkbox></b></p>
                <mat-label>From:</mat-label>
                <ngb-timepicker [(ngModel)]="schedule.slot1.from" [meridian]="meridian"></ngb-timepicker>
                <mat-label>To:</mat-label>
                <ngb-timepicker [(ngModel)]="schedule.slot1.to" [meridian]="meridian"></ngb-timepicker>
                <mat-divider></mat-divider>
                <br>
                <p align="center"><b><mat-checkbox>Time Slot 02</mat-checkbox></b></p>
                <mat-label>From:</mat-label>
                <ngb-timepicker [(ngModel)]="schedule.slot2.from" [meridian]="meridian"></ngb-timepicker>
                <mat-label>To:</mat-label>
                <ngb-timepicker [(ngModel)]="schedule.slot2.to" [meridian]="meridian"></ngb-timepicker>
                <mat-divider></mat-divider>
                <br>
                <p align="center"><b><mat-checkbox>Time Slot 03</mat-checkbox></b></p>
                <mat-label>From:</mat-label>
                <ngb-timepicker [(ngModel)]="schedule.slot3.from" [meridian]="meridian"></ngb-timepicker>
                <mat-label>To:</mat-label>
                <ngb-timepicker [(ngModel)]="schedule.slot3.to" [meridian]="meridian"></ngb-timepicker>
            </mat-expansion-panel>
            <br>
        </div>
    </mat-accordion>

    <br>
    <br>
    <button style="width: 320px" mat-flat-button color="primary">Save Details</button>
    <br>
</div>
