.header-logo {
    padding-top: 60px;
    padding-bottom: 50px;
}
button.link { background:none; border:none; }
.mat-card-style {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    min-width: 320px;
    max-width: 320px;
}
.app-header {
    max-height: 150px;
    /*background: #d3d1d1;*/
    /*background-color: #d3d1d1; !* For browsers that do not support gradients *!*/
    background-image: linear-gradient(#ffffff, #ffffff); /* Standard syntax (must be last) */
}
