.header-logo {
    width: 250px;
    padding-bottom: 20px
}

.log-in-button {
    width: 75px;
    background-color: #d84344;
}

button.link { background:none; border:none; }
.mat-card-style {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    min-width: 320px;
    max-width: 320px;
}
.app-header {
    max-height: 150px;
    width: 100%;
    background-image: linear-gradient(#ffffff, #ffffff); /* Standard syntax (must be last) */
}
