<div class="app-header">
    <div class="mat-card-style">
        <div class="app-header-content">
            <div class="menu">
                <img src="./assets/img/icon-menu-png-14.jpeg" width="50px" (click)="openDropDown()">
                <div *ngIf="openedDropDown" class="dropdown-content">
                    <a (click)="goToHomePage()">Home</a>
                    <a (click)="profilePicClick()">Profile</a>
                    <a *ngIf="!loggedInUser?.doctor" (click)="makeAppointment()">Make Appointment</a>
                </div>
            </div>
            <div class="logo">
                <img src="./assets/img/logo-ezmed-new.png" width="160px">
            </div>

            <div class="profile">
                <div style="padding-top: 20px" *ngIf="!(loggedInUser && firstName)">
                    <button class="default-button log-in-button" (click)="profilePicClick()">Log In</button>
                </div>
                <div style="padding-top: 20px" *ngIf="loggedInUser && firstName">
                    <img (click)="profilePicClick()" [src]="profileImageURL" width="60px"/>
                    <p (click)="profilePicClick()"
                       style="padding-top: 5px; font-size: small">{{firstName}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
