<div class="mat-card-style">

    <div align="center">
    <mat-form-field style="width: 250px">
        <input matInput type="text" placeholder="Search by name" value="{{searchString}}">
    </mat-form-field>

    <br>
    <mat-form-field  style="width: 240px" >
        <mat-label>Category</mat-label>
        <mat-select [(value)]="selectedCategory">
            <ng-container *ngFor="let category of categories">
                <mat-option value="{{category.category}}">{{category.category}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="selectedCategory !== undefined && selectedCategory !== 'General Practitioners'">
        <mat-form-field  style="width: 240px" >
            <mat-label>Specialization</mat-label>
            <mat-select [(value)]="selectedSpecialization">
                <ng-container *ngFor="let subCategory of subCategories">
                    <mat-option value="{{subCategory}}">{{subCategory.category}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </ng-container>

        <button (click)="search()" style="width: 90px" color="primary" mat-flat-button>Search</button>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <p style="font-size: x-large">Search Results:</p>
    <ng-container *ngFor="let doc of professionalList">
        <app-professional-card
        [professional]="doc"
        (selectProfessional)="selectProfessional($event)"
        ></app-professional-card>
    </ng-container>
</div>

