<div class="mat-card-style">

    <div *ngIf="flow===1">
        <app-landing-page
        >
        </app-landing-page>
    </div>

    <div *ngIf="flow===3">
        <app-doctor-schedule
        ></app-doctor-schedule>
    </div>
    <div *ngIf="flow===2">
        <app-signup
        ></app-signup>
    </div>

    <div *ngIf="flow===4">
        <app-doctor-profile></app-doctor-profile>
    </div>

    <div *ngIf="flow===17">
        <app-patient-profile></app-patient-profile>
    </div>

    <div *ngIf="flow===5">
        <app-signup></app-signup>
    </div>
    <div  *ngIf="flow===6">
        <app-search-professionals-main></app-search-professionals-main>
    </div>
    <div  *ngIf="flow===7">
        <app-doctor-side-booking-list></app-doctor-side-booking-list>
    </div>
    <div *ngIf="flow===8">
        <app-doctor-side-booking></app-doctor-side-booking>
    </div>
    <div *ngIf="flow===10">
        <app-contact-page></app-contact-page>
    </div>
    <div *ngIf="flow===12">
        <app-prescription></app-prescription>
    </div>
    <div *ngIf="flow===11">
        <app-faqs></app-faqs>
    </div>
    <div *ngIf="flow===9">
        <app-search-professionals></app-search-professionals>
    </div>
    <div *ngIf="flow===13">
        <app-booking-enter></app-booking-enter>
    </div>
    <div *ngIf="flow===14">
        <app-booking-enter-time></app-booking-enter-time>
    </div>
    <div *ngIf="flow===15">
        <app-payment-success></app-payment-success>
    </div>
    <div *ngIf="flow===16">
        <app-doctor-finance></app-doctor-finance>
    </div>
</div>
