<div class="mat-card-style">

    <div *ngIf="flow===1">
        <app-landing-page
        >
        </app-landing-page>
    </div>

    <div *ngIf="flow===3">
        <app-doctor-schedule
        ></app-doctor-schedule>
    </div>
    <div *ngIf="flow===2">
        <app-signup
        ></app-signup>
    </div>

    <div *ngIf="flow===4">
        <app-doctor-profile></app-doctor-profile>
    </div>

    <div *ngIf="flow===5">
        <app-signup></app-signup>
    </div>
    <div  *ngIf="flow===6">
        <app-patient-dashboard></app-patient-dashboard>
    </div>
    <div  *ngIf="flow===7">
        <app-doctor-side-booking-list></app-doctor-side-booking-list>
    </div>
    <div *ngIf="flow===8">
        <app-doctor-side-booking></app-doctor-side-booking>
    </div>
    <div *ngIf="flow===9">
        <app-search-professionals></app-search-professionals>
    </div>
</div>
