<div class="mat-card-style">

    <app-page-title [title]="title"></app-page-title>
    <h5 *ngIf="!editable">Name: {{patient.title}} {{patient.name}}</h5>
    <h6 *ngIf="!editable">Age: {{patient.age}}</h6>
    <br>

    <ng-container *ngIf="editable">
        <mat-form-field style="width: 240px" class="example-full-width">
            <mat-label>Title</mat-label>
            <mat-select [(value)]="patient.title">
                <ng-container *ngFor="let title of titles" >
                    <mat-option value="{{title.value}}">
                        {{title.value}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 240px" class="example-full-width">
            <mat-label>Name: {{patient.name}}</mat-label>
            <input matInput placeholder="" [value]="patient.name">
        </mat-form-field>

        <mat-form-field  style="width: 240px" class="example-full-width">
            <mat-label>Birthday:</mat-label>
            <input matInput placeholder=""  value="{{patient.birthday}}">
        </mat-form-field>

        <mat-form-field  style="width: 240px" class="example-full-width">
            <mat-label>Allergies:</mat-label>
            <textarea matInput placeholder="" value="{{patient.allergies}}"></textarea>
        </mat-form-field>

        <mat-form-field  style="width: 240px" class="example-full-width">
            <mat-label>Medical History:</mat-label>
            <textarea matInput placeholder="" value="{{patient.medicalHistory}}"></textarea>
        </mat-form-field>

        <br>
        <br>
        <button style="width: 240px" mat-raised-button color="primary" (click)="toggleEditable(false)">Save</button>
        <br>
        <br>
        <button style="width: 240px" mat-raised-button color="secondary" (click)="toggleEditable(false)">Back</button>
        <br>
    </ng-container>

    <ng-container *ngIf="!editable">

        <button style="width: 320px" mat-raised-button color="primary">My Bookings</button>
        <br>
        <br>
        <button style="width: 320px" mat-stroked-button (click)="toggleEditable(true)">Edit Profile</button>
        <br>
        <br>
        <button style="width: 320px" mat-stroked-button>My Finances</button>
        <br>
        <br>

    </ng-container>
</div>
