<div class="mat-card-style" align="center">
    <ng-container *ngIf="!summaryShown">
        <button *ngIf="!isScheduleVisible" mat-raised-button color="secondary" style="width: 220px" (click)="scheduleVisibilityToggle(true)" >Show Available Times</button>
        <button *ngIf="isScheduleVisible" mat-raised-button color="secondary" style="width: 220px" (click)="scheduleVisibilityToggle(false)" >Hide Available Times</button>
        <br>
        <br>
        <ng-container *ngIf="isScheduleVisible" >
            <p>Available Times:</p>
            <mat-accordion>
                <div *ngFor="let schedule of doctorSchedule.schedule;">
                    <mat-expansion-panel style="width: 320px">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{schedule.title}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Time Slot 1: <b>{{schedule.slot1}}</b></p>
                        <p>Time Slot 2: <b>{{schedule.slot2}}</b></p>
                        <p>Time Slot 3: <b>{{schedule.slot3}}</b></p>
                    </mat-expansion-panel>
                    <br>
                </div>
            </mat-accordion>
        </ng-container>
        <h4>Select Your Convenient Date and Time</h4>
        <mat-form-field  style="width: 240px" >
            <mat-label>Date</mat-label>
            <mat-select [(value)]="selectedDate">
                <ng-container *ngFor="let day of days">
                    <mat-option value="{{day.day}}">{{day.date}} - {{day.day}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <ng-container *ngIf="selectedDate !== undefined">
            <mat-form-field  style="width: 240px" >
                <mat-label>Time</mat-label>
                <mat-select [(value)]="selectedSpecialization">
                    <ng-container *ngFor="let timeSlot of getTimeSlots(selectedDate)">
                        <mat-option value="{{timeSlot}}">{{timeSlot}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </ng-container>
        <button [disabled]="selectedDate === undefined || selectedSpecialization === undefined" mat-raised-button color="primary" style="width: 240px" (click)="continueClicked(true)">Continue</button>
    </ng-container>
    <ng-container *ngIf="summaryShown">
        <div style="width: 240px">
            <p>** You are about to book a consultation with <b>{{doctor.name}}</b> on <b>{{selectedDate}}</b>. Wait for the Skype call from him/her at around <b>{{consultationTime}}</b><br><br>
                Make sure your Skype call notifications are switched on.<br><br>
            (Note that the time might change due to different reasons)</p>
        </div>
        <button (click)="navigateToPaymentOrLogIn()" mat-raised-button color="primary" style="width: 240px">Continue</button>
        <br>
        <br>

        <button mat-raised-button color="secondary" style="width: 240px"  (click)="continueClicked(false)">Back</button>
    </ng-container>
    <br>
    <br>
</div>
