<div align="center">
    <ng-container *ngIf="modalType === 'LOADING'">
        <mat-spinner></mat-spinner>
        <br>
        <h5>Loading...</h5>
    </ng-container>
    <ng-container *ngIf="modalType === 'ENTER_VACATION_MODE'">
        <div class="alert alert-primary" role="alert">
            <b>Note:</b>
            When you enter vacation mode, you will not be visible to the patients in the search list from now onwards
            until you disable vacation mode. And your already booked appointments will be cancelled automatically.
            Want to continue enabling vacation mode?
            <br>
            <button style="margin:5px;" style="width: 100px" (click)="startVacationMode()" mat-stroked-button color="primary">Yes</button>
            &nbsp;<button style="margin:5px;" style="width: 100px"  (click)="dismiss()"  mat-stroked-button color="primary">No</button>
        </div>
    </ng-container>
    <ng-container *ngIf="modalType === 'EXIT_VACATION_MODE'">
        <div class="alert alert-primary" role="alert">
            <b>Note:</b>
            Hope you had a great vacation. You are about to exit vacation mode. You will be visible to the patients in the search list from now onwards.
            Want to exit vacation mode?
            <br>
            <button style="margin:5px;" style="width: 100px" (click)="stopVacationMode()" mat-stroked-button color="primary">Yes</button>
            &nbsp;<button style="margin:5px;" style="width: 100px"  (click)="dismiss()"  mat-stroked-button color="primary">No</button>
        </div>
    </ng-container>
    <ng-container *ngIf="modalType === 'ERROR_1'">
        <div class="alert alert-primary" role="alert">
            Please check your time slots. Might have an overlap or start time might be after the end time in a time slot!<br>
            <button style="margin:5px;" style="width: 100px"  (click)="dismiss()"  mat-stroked-button color="primary">Dismiss</button>
        </div>
    </ng-container>
    <ng-container *ngIf="modalType === 'ERROR_2'">
        <div class="alert alert-primary" role="alert">
            Something went wrong!<br>
            <button style="margin:5px;" style="width: 100px"  (click)="dismiss()"  mat-stroked-button color="primary">Dismiss</button>
        </div>
    </ng-container>
    <ng-container *ngIf="modalType === 'ERROR_3'">
        <div class="alert alert-primary" role="alert">
            Please enter a valid average time!<br>
            <button style="margin:5px;" style="width: 100px"  (click)="dismiss()"  mat-stroked-button color="primary">Dismiss</button>
        </div>
    </ng-container>
</div>
