<div class="mat-card-style">
    <br>
    <ng-container *ngIf="doctorSide" >
        <button (click)="addPrescription()" class="default-button">Add New Prescription</button>
        <br>
        <br>
        <br>
    </ng-container>
    <p *ngIf="prescriptionList && prescriptionList.length > 0" style="font-size: x-large">List of Prescriptions:</p>
    <ng-container *ngFor="let prescription of prescriptionList; let i = index">
        <button [ngStyle]="{'background-color': prescription.status ? '#d4d5d6' : 'white'}" (click)="selectPrescription(prescription.id)" style="width: 320px" mat-raised-button>Prescription {{i+1}}</button>
        <br>
        <br>
    </ng-container>
    <ng-container *ngIf="prescriptionList && prescriptionList.length === 0">
        <br>
        <br>
        <p style="color: crimson"><b>------   Sorry, No results found   ------</b></p>
        <br>
    </ng-container>
    <button (click)="goToMyAppointments()"  class="default-button button-warning">Back</button>
</div>
