<div class="mat-card-style">
    <div class="container" id="test" #test>
        <br>
        <p style="font-size: small; text-align: center"><b><u>PROFESSIONAL'S NOTE</u></b></p>
        <br>
        <p style="font-size: small">Date: {{prescription?.issuedDate | date:'yyyy-MM-dd'}}</p>

        <p style="font-size: small">Name: <b>{{prescription?.lightPatient?.title}}. {{prescription?.lightPatient?.firstName}} {{prescription?.lightPatient?.lastName}}</b></p>
        <p style="font-size: small">Age: {{prescription?.lightPatient?.age}} yrs</p>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <br>

        <div *ngIf="!isNewPrescription">
            <br>

            <p>{{prescription?.description}}</p>
            <br>
            <!-- <li  style="padding-bottom: 10px; font-size: small" *ngFor="let item of items">{{item}}</li> -->

            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <br>

            <p style="font-size: x-small">** No signature required. This is an electronically generated document that was prepared by the following prescriber **</p>
            <table>
                <tr>
                    <th style="font-size: medium; text-align: left">
                        {{prescription?.lightDoctor?.title}}. {{prescription?.lightDoctor?.firstName}} {{prescription?.lightDoctor?.lastName}}
                    </th>
                </tr>
                <tr>
                    <td style="font-size: x-small; text-align: left">
                        Reg. number: {{prescription?.lightDoctor?.regNo}}<br>
                        {{prescription?.lightDoctor?.qualifications}}
                    </td>
                </tr>
            </table>

    <!--        <mat-divider></mat-divider>-->
    <!--        <mat-divider></mat-divider>-->
            <br>
        </div>
    </div>
    <div *ngIf="!!isNewPrescription">
        <mat-form-field  style="width: 320px" class="example-full-width">
            <mat-label>Add prescriptions:</mat-label>
            <textarea *ngIf="prescription?.description" [(ngModel)]='prescription.description' rows="10" cols="50" matInput placeholder="Start typing.."></textarea>
        </mat-form-field>
<!--        <p>Start adding items below</p>-->
<!--        <div *ngFor="let item of prescriptionList">-->
<!--            <table align="center">-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <mat-form-field style="width: 300px">-->
<!--                            <input style="font-size: small" matInput type="text" placeholder="Type here.." value="{{item}}">-->
<!--                        </mat-form-field>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--        <div align="center">-->
<!--            <button style="width: 90px" color="primary" mat-flat-button>Add more</button>-->
<!--        </div>-->
<!--        <br>-->

<!--        <mat-divider></mat-divider>-->
<!--        <mat-divider></mat-divider>-->
        <br>
    </div>
    <ngb-alert (close)="ngbAlertVisible=false" style="font-size: small;" *ngIf="!isNewPrescription && !doctorSide && ngbAlertVisible" [dismissible]="true" type="primary">
        Since this digital prescription is generated by the medical professional and no one else can edit the document, this would be a valid document to be produced
        to any pharmacy or other medical institute as a valid prescription/note.<br>For any inquiries, please contact ezmedltd@gmail.com<br>
        - EZMED PVT LTD -
    </ngb-alert>
    <button (click)="previewToggle('')" *ngIf="false && !isNewPrescription && doctorSide" style="width: 320px" color="primary" mat-flat-button>Exit Preview</button>
    <button *ngIf="!isNewPrescription" mat-raised-button color="secondary" style="width: 320px" (click)="goToAppointmentList(false)">Back</button>

    <input *ngIf="false && !isNewPrescription && !doctorSide" type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">
    <button (click)="previewToggle('preview')" *ngIf="false && isNewPrescription" style="width: 320px" color="secondary" mat-raised-button>Preview Prescription</button>

    <br>
    <br>

    <button *ngIf="isNewPrescription" style="width: 320px" color="primary" mat-raised-button>Save</button>
    <br>
    <br>
    <button  *ngIf="isNewPrescription" mat-raised-button color="secondary" style="width: 320px" (click)="goToAppointmentList(false)">Cancel</button>

</div>
