.mat-card-style {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    min-width: 320px;
    max-width: 320px;
}
.abc {
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: pre-wrap;      /* Modern browsers */
}
