<div align="center" class="mat-card-style">
    <p style="font-size: medium; line-height:1.6; padding-bottom: 60px;  padding-right: 30px;  padding-left: 30px;">
        WellBeey is the <b>FIRST</b> and the <b>ONLY</b>  platform in Sri Lanka that allows you to book an appointment with your doctor online and get your consultation done via video / audio call.
    </p>
    <img src="./assets/img/search-doctor.png" width="100px">
    <p style="font-size: medium; padding-bottom: 40px;">
        1. Search for a Doctor
    </p>
    <img src="./assets/img/booking.png" width="100px">

    <p style="font-size: medium; padding-bottom: 40px;">
        2. Schedule the appointment
    </p>
    <img src="./assets/img/video-chat.png" width="100px">

    <p style="font-size: medium; padding-bottom: 40px;">
        3. Wait for the doctor's call
    </p>

    <br>
    <button style="width: 250px; height: 60px" mat-flat-button color="primary"><b>Book an Appointment</b></button>
    <br>
    <br>
    <button style="width: 180px" mat-stroked-button color="link">Continue as a Doctor</button>
    <br>
</div>
