<div align="center" class="mat-card-style">
    <p style="max-width: 425px;font-size: medium; line-height:1.6; padding-bottom: 40px;  padding-right: 30px;  padding-left: 30px;"><b>
        Ez Med is the platform in Sri Lanka that allows you to book an appointment with your doctor online and get your consultation done from the comfort of your home
    </b></p>
    <button [disabled]="isDoctorLoggedIn()" (click)="goToSearchPage()" style="width: 250px; height: 50px" mat-raised-button color="primary"><b>Make an Appointment</b></button>
    <br>
    <br>
<!--    <ng-container *ngIf="!(loggedInUser)">-->
<!--        <button (click)="logIn()" style="width: 200px; height: 35px" mat-raised-button color="primary"><b>LogIn/Register</b></button>-->
<!--        <br>-->
<!--        <br>-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="(loggedInUser)">-->
<!--        <button (click)="dashboard()" style="width: 200px; height: 35px" mat-raised-button color="primary"><b>Go to my dashboard</b></button>-->
<!--        <br>-->
<!--        <br>-->
<!--    </ng-container>-->
    <br>
    <img (click)="goToSearchPage()"  src="/assets/img/search-doctor.png" width="100px">
    <p style="font-size: medium; padding-bottom: 40px;">
        1. Search for a Doctor
    </p>
    <img (click)="goToSearchPage()"  src="./assets/img/booking.png" width="100px">

    <p style="font-size: medium; padding-bottom: 40px;">
        2. Make the appointment
    </p>
    <img (click)="goToSearchPage()"  src="./assets/img/video-chat.png" width="100px">

    <p style="font-size: medium;">
        3. Wait for the doctor's call
    </p>
<!--    <p style="font-size: small; padding-bottom: 40px; max-width: 300px">-->
<!--        Once your booking is up, doctor (/professional) will contact you. After several attempts to contact you,-->
<!--        your booking will be automatically cancelled and you will be refunded (cancellation charges apply*).<br>-->
<!--    </p>-->

<!--    <button [disabled]="isDoctorLoggedIn()" (click)="goToSearchPage()" style="width: 250px; height: 50px" mat-raised-button color="primary"><b>Make an Appointment</b></button>-->
    <br>
</div>
