.app-component-div {
    min-width: 320px;
    height: available;
    /*background-color: red; !* For browsers that do not support gradients *!*/
    /*background-image: linear-gradient(#E0C3FC, #ffffff); !* Standard syntax (must be last) *!*/
}

.app-body-div {
    min-width: 320px;
    padding-bottom: 100px;
    /*background-color: red; !* For browsers that do not support gradients *!*/
    /*background-image: linear-gradient(#ffffff, #E0C3FC); !* Standard syntax (must be last) *!*/
}
