<div class="mat-card-style">
    <div *ngIf="doctor">
        <div style="width: 320px; height: auto;">
            <table>
                <tr>
                    <th style="width: 115px; height: 115px; align-content: center">
                        <img src="./assets/img/doctor2.jpg" width="115px" height="115px">
                    </th>
                    <th>
                    </th>
                    <th>
                        <table>
                            <tr>
                                <th style="font-size: medium; text-align: left">
                                    {{doctor.name}}
                                </th>
                            </tr>
                            <tr>
                                <td style="font-size: x-small; text-align: left">
                                    {{doctor.bio}}
                                </td>
                            </tr>
                            <tr>
                                <mat-divider style="left: inherit; width: 180px"></mat-divider>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-size: small; text-align: left">
                                    Specializations:
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <div *ngFor="let speciality of doctor.specialities">
                                <tr>
                                    <td style="font-size: x-small; text-align: left">
                                        {{speciality}}
                                    </td>
                                </tr>
                            </div>
                            <tr>
                                <mat-divider style="left: inherit; width: 180px"></mat-divider>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-size: small; text-align: left">
                                    Charge per consultation:
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-size: x-small; text-align: left">
                                    {{doctor.consultationPrice}}
                                </td>
                            </tr>
                            <tr>
                        </table>
                    </th>
                </tr>
            </table>
        </div>
        <br>
        <ng-container *ngIf="!isPatientSkypeAvailable && doctor.isSkypePreferred && !doctor.isWhatsAppPreferred">
            <div class="alert alert-danger" role="alert">
                <strong>Note!</strong> {{doctor.name}} only uses Skype. And seems like you have forgotten to add your Skype ID in your profile. To continue
                this booking add your Skype ID now.
            </div>

            <div align="center">
                <mat-form-field  style="width: 240px" class="example-full-width">
                    <mat-label>Skype ID:</mat-label>
                    <input matInput placeholder="" value="{{skypeID}}">
                </mat-form-field>
                <br>
                <button style="width: 240px" mat-raised-button color="primary" (click)="saveSkype(false)">Add Skype ID</button>
                <br>
                <br>
            </div>
        </ng-container>
        <ng-container *ngIf="!isPatientSkypeAvailable">
            <ng-container *ngIf="doctor.isSkypePreferred && doctor.isWhatsAppPreferred">
                <p style="font-size: small" align="center">{{doctor.name}} uses both Skype and WhatsApp for consultations. Therefore, you can choose your preference below;</p>
            </ng-container>

            <ng-container *ngIf="!doctor.isSkypePreferred && doctor.isWhatsAppPreferred">
                <p>
                    <ngb-alert [dismissible]="false">
                        {{doctor.name}} uses only WhatsApp for consultations!
                    </ngb-alert>
                </p>
            </ng-container>

            <ng-container *ngIf="isPatientSkypeAvailable && doctor.isSkypePreferred && !doctor.isWhatsAppPreferred">
                <p>
                    <ngb-alert [dismissible]="false">
                        {{doctor.name}} uses only Skype for consultations!
                    </ngb-alert>
                </p>
            </ng-container>

            <ng-container *ngIf="doctor.isSkypePreferred && doctor.isWhatsAppPreferred">
                <mat-form-field style="width: 240px"  appearance="legacy">
                    <mat-label>Communication Medium</mat-label>
                    <mat-select>
                        <mat-option required *ngFor="let medium of media" [value]="medium.value">
                            {{medium.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <br>
        </ng-container>
    </div>

    <button [disabled]="!isPatientSkypeAvailable && doctor.isSkypePreferred && !doctor.isWhatsAppPreferred" mat-raised-button color="primary" style="width: 320px">Make an Appointment</button>
</div>
