<div class="mat-card-style">
    <div *ngIf="doctor">
        <div style="width: 300px; height: 180px">
            <table>
                <tr>
                    <th style="width: 115px; height: 115px; align-content: center">
                        <img src="./assets/img/doctor2.jpg" width="115px" height="115px">
                    </th>
                    <th>
                    </th>
                    <th>
                        <table>
                            <tr>
                                <th style="font-size: medium; text-align: left">
                                    {{doctor.name}}
                                </th>
                            </tr>
                            <tr>
                                <td style="font-size: x-small; text-align: left">
                                    {{doctor.bio}}
                                </td>
                            </tr>
                            <tr>
                                <mat-divider style="left: inherit; width: 180px"></mat-divider>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-size: small; text-align: left">
                                    Specializations:
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <div *ngFor="let speciality of doctor.specialities">
                                <tr>
                                    <td style="font-size: x-small; text-align: left">
                                        {{speciality}}
                                    </td>
                                </tr>
                            </div>
                            <tr>
                                <mat-divider style="left: inherit; width: 180px"></mat-divider>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-size: small; text-align: left">
                                    Charge per consultation:
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-size: x-small; text-align: left">
                                    {{doctor.consultationPrice}}
                                </td>
                            </tr>
                            <tr>
                        </table>
                    </th>
                </tr>
            </table>
        </div>
        <br>
    </div>

    <button mat-raised-button color="primary" style="width: 320px">Make an Appointment</button>
<!--    <br>-->
<!--    <br>-->
<!--    <button *ngIf="!isScheduleVisible" mat-raised-button color="secondary" style="width: 320px" (click)="scheduleVisibilityToggle(true)" >Show Available Times</button>-->
<!--    <button *ngIf="isScheduleVisible" mat-raised-button color="secondary" style="width: 320px" (click)="scheduleVisibilityToggle(false)" >Hide Available Times</button>-->
<!--    <br>-->
<!--    <br>-->
<!--    <ng-container *ngIf="isScheduleVisible" >-->
<!--        <p>Available Times:</p>-->
<!--        <mat-accordion>-->
<!--            <div *ngFor="let schedule of doctorSchedule.schedule;">-->
<!--                <mat-expansion-panel style="width: 320px">-->
<!--                    <mat-expansion-panel-header>-->
<!--                        <mat-panel-title>{{schedule.title}}</mat-panel-title>-->
<!--                    </mat-expansion-panel-header>-->
<!--                    <p>Time Slot 1: <b>{{schedule.slot1}}</b></p>-->
<!--                    <p>Time Slot 2: <b>{{schedule.slot2}}</b></p>-->
<!--                    <p>Time Slot 3: <b>{{schedule.slot3}}</b></p>-->
<!--                </mat-expansion-panel>-->
<!--                <br>-->
<!--            </div>-->
<!--        </mat-accordion>-->
<!--    </ng-container>-->
</div>
