<div class="mat-card-style">
    <table align="center">
        <tr>
            <td>
                <mat-form-field style="width: 200px">
                    <input matInput type="text" placeholder="Search by name" value="{{searchString}}">
                </mat-form-field>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                <button (click)="search()" style="width: 80px" color="primary" mat-flat-button>Search</button>
            </td>
        </tr>
    </table>
    <br>

    <div align="center" *ngIf="professionalListType==='Consultant'">
        <mat-form-field style="width: 290px">
            <mat-label>Select specialization [optional]</mat-label>
            <mat-select [(value)]="selectedProfessionalType">
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>

    <mat-divider></mat-divider>
    <p style="font-size: x-large">List of {{professionalListType}}s:</p>

    <div *ngFor="let doc of professionalList">
        <mat-card (click)="selectDoc(doc.id)" style="width: 320px; height: auto">
            <table>
                <tr>
                    <th style="width: 120px; height: 100px;">
                        <img src="./assets/img/doctor2.jpg" width="100px" height="100px">
                    </th>
                    <th>
                    </th>
                    <th>
                        <table>
                            <tr>
                                <th style="font-size: medium; text-align: left">
                                    {{doc.name}}
                                </th>
                            </tr>
                            <tr>
                                <td style="font-size: x-small; text-align: left">
                                    {{doc.bio}}
                                </td>
                            </tr>
                            <tr>
                                <mat-divider style="left: inherit; width: 160px"></mat-divider>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-size: small; text-align: left">
                                    Specializations:
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <div *ngFor="let speciality of doc.specialities">
                                <tr>
                                    <td style="font-size: x-small; text-align: left">
                                        {{speciality}}
                                    </td>
                                </tr>
                            </div>
                            <tr>
                                <mat-divider style="left: inherit; width: 160px"></mat-divider>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-size: small; text-align: left">
                                    Charge per consultation:
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-size: x-small; text-align: left">
                                    {{doc.consultationPrice}}
                                </td>
                            </tr>
                            <tr>
                        </table>
                    </th>
                </tr>
            </table>
<!--            <table>-->
<!--                <tr>-->
<!--                    <th width="240px">-->

<!--                    </th>-->
<!--                    <th>-->
<!--                        <ng-container *ngIf="doc.isSkypePreferred">-->
<!--                            <img src="./assets/img/Icon-Skype.jpg" width="12px" height="12px">-->
<!--                        </ng-container>-->
<!--                        <ng-container *ngIf="doc.isWhatsAppPreferred">-->
<!--                            <span style="padding-left: 7px"><img src="./assets/img/whatsapp.jpg" width="15px" height="15px"></span>-->
<!--                        </ng-container>-->
<!--                    </th>-->
<!--                </tr>-->
<!--            </table>-->
        </mat-card>
        <br>
    </div>

    </div>
</div>
