<div class="mat-card-style">

    <ng-container *ngIf="editable && userData">
        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <mat-select [disabled]="!userData?.editableMode" required [(value)]="userData.title">
                <ng-container *ngFor="let title of titles">
                    <mat-option value="{{title.value}}">
                        {{title.value}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>First Name: {{userData.firstName}}</mat-label>
            <input [disabled]="!userData?.editableMode" required matInput placeholder="" [(ngModel)]="userData.firstName">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Last Name: {{userData.lastName}}</mat-label>
            <input [disabled]="!userData?.editableMode" required matInput placeholder="" [(ngModel)]="userData.lastName">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Professional Level</mat-label>
            <mat-select [disabled]="!userData?.editableMode" (selectionChange)="selectCategory($event)" [value]="selectedCategory">
                <ng-container *ngFor="let category of categories">
                    <mat-option value="{{category.category}}">{{category.category}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Registration Number (SLMC):</mat-label>
            <input [disabled]="!userData?.editableMode" matInput placeholder="" [(ngModel)]="userData.regNo">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Qualifications (as in the stamp):</mat-label>
            <textarea [disabled]="!userData?.editableMode" required matInput placeholder="eg: MD(Russia), MBBS(SL)"
                      [(ngModel)]="userData.qualifications"></textarea>
        </mat-form-field>
        <br>

        <mat-form-field
                *ngIf="selectedCategory !== undefined && selectedCategory !== null && !(selectedCategory === 'General Practitioner' || selectedCategory === 'Any')"
                class="example-full-width">
            <mat-label>Specialization #1</mat-label>
            <mat-select [disabled]="!userData?.editableMode" matNativeControl [(value)]="userData.specialityA">
                <ng-container *ngFor="let specialization of specializations">
                    <mat-option value="{{specialization}}">
                        {{dataHandlerService.convertCamelCaseToSentence(specialization)}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field
                *ngIf="selectedCategory !== undefined && selectedCategory !== null && !(selectedCategory === 'General Practitioner' || selectedCategory === 'Any')"
                class="example-full-width">
            <mat-label>Specialization #2 (Optional)</mat-label>
            <mat-select [disabled]="!userData?.editableMode" matNativeControl [(value)]="userData.specialityB">
                <ng-container *ngFor="let specialization of specializations">
                    <mat-option value="{{specialization}}">
                        {{dataHandlerService.convertCamelCaseToSentence(specialization)}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field
                *ngIf="selectedCategory !== undefined && selectedCategory !== null && !(selectedCategory === 'General Practitioner' || selectedCategory === 'Any')"
                class="example-full-width">
            <mat-label>Specialization #3 (Optional)</mat-label>
            <mat-select [disabled]="!userData?.editableMode" matNativeControl [(value)]="userData.specialityC">
                <ng-container *ngFor="let specialization of specializations">
                    <mat-option value="{{specialization}}">
                        {{dataHandlerService.convertCamelCaseToSentence(specialization)}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Contact Number:</mat-label>
            <input [disabled]="!userData?.editableMode" required matInput placeholder="" [(ngModel)]="userData.contactNumber">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>WhatsApp Number:</mat-label>
            <input [disabled]="!userData?.editableMode" matInput placeholder="" [(ngModel)]="userData.whatsAppNumber">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Email:</mat-label>
            <input [disabled]="!userData?.editableMode" disabled required matInput placeholder="" [(ngModel)]="userData.email">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Price per consultation ({{priceCurrency}}):</mat-label>
            <input [disabled]="!userData?.editableMode" required matInput placeholder="" [(ngModel)]="userData.priceForAppointment">
        </mat-form-field>
        <br>
        <div style="align-items: center; width: 200px">
            <ng-container *ngIf="userData?.editableMode">
            <mat-label style="font-size: small">Upload Profile Picture: (Square shape is better)</mat-label>
            <br>
            <input [disabled]="!userData?.editableMode" type="file"
                   accept="image/*"
                   (change)="uploadImage($event)">
            <br>
            <br>
            </ng-container>
            <ng-container *ngIf="userData?.editableMode">
                <mat-label style="font-size: small">Upload Signature:</mat-label>
                <br>
                <input [disabled]="!userData?.editableMode" type="file"
                       accept="image/*"
                       (change)="uploadSignature($event)">
                <br>
                <br>
            </ng-container>
            <ng-container *ngIf="userData?.editableMode">
                <mat-label style="font-size: small">Upload Professional Stamp:</mat-label>
                <br>
                <input [disabled]="!userData?.editableMode" type="file"
                       accept="image/*"
                       (change)="uploadStamp($event)">
                <br>
                <br>
            </ng-container>
        </div>
        <button [disabled]="!userData?.editableMode" class="default-button" (click)="saveData()">Save</button>
        <br>
        <button class="default-button button-warning" (click)="toggleEditable(false)">Back</button>
        <br>
    </ng-container>

    <ng-container *ngIf="!editable">
        <app-page-title [title]="'My Profile'"></app-page-title>
        <div class="banner plain left-aligned">
            <p style="font-size: x-large"><b>{{userData?.title}}. {{userData?.firstName}} {{userData?.lastName}}</b></p>
            <p>Email: {{userData?.email}}</p>
            <p>Contact number: {{userData?.contactNumber}}</p>
        </div>
        <div *ngIf="userData?.availableForAppointment && !onVacation" class="banner success">
            <p><b>Profile Status: </b>Active</p>
        </div>

        <div class="banner error" *ngIf="userData?.availableForAppointment && onVacation">
            <p><b>Profile Status: </b>Your profile is not Visible in searches and there are no any active appointments
                since you are in
                vacation mode. You can appear in searches again and
                continue consultations by exiting vacation mode.</p>
        </div>

        <div *ngIf="!userData?.availableForAppointment" class="banner error">
            <p><b>Profile Status: </b>Not Active</p>
        </div>

        <div *ngIf="!userData?.availableForAppointment && !logInRequired" class="banner warning">
            <p><b>Note:</b> You have not completed your profile and schedules yet. You will not be listed
                under searches until you complete your profile and schedule</p>
        </div>

        <div class="banner error" *ngIf="logInRequired">
            <p><b>Note:</b> Please log out and log in again to continue with your profile</p>
        </div>

        <button class="default-button" [disabled]="!userData?.availableForAppointment" (click)="goToMyAppointments()">My
            Appointments
        </button>
        <br>
        <button class="default-button"
                [disabled]="!userData?.availableForAppointment && checkForMandatoryFieldsToActivateProfile(userData)"
                (click)="toggleEditable(true)">Edit Profile
        </button>
        <!--        <button [disabled]="!userData?.availableForAppointment && checkForMandatoryFieldsToActivateProfile(userData)"-->
        <!--                [color]="userData?.availableForAppointment? null: 'warn'" mat-raised-button-->
        <!--                (click)="toggleEditable(true)">Edit Profile-->
        <!--        </button>-->
        <br>
        <button class="default-button"
                [disabled]="logInRequired || (!userData?.availableForAppointment && !checkForMandatoryFieldsToActivateProfile(userData))"
                (click)="editSchedule()">Edit Schedule
        </button>
        <!--        <button [disabled]="logInRequired || (!userData?.availableForAppointment && !checkForMandatoryFieldsToActivateProfile(userData))"-->
        <!--                [color]="userData?.availableForAppointment? null:'warn'" (click)="editSchedule()" -->
        <!--                mat-raised-button>Edit Schedule-->
        <!--        </button>-->
        <br>
        <button class="default-button" disabled>My Finances</button>
        <br>
        <button class="default-button" disabled (click)="goToVacationMode()">{{vacationModeTitle}}</button>
        <!--        <button disabled [color]="onVacation? 'warn' : null" (click)="goToVacationMode()" -->
        <!--                mat-stroked-button>{{vacationModeTitle}}</button>-->
        <br>
        <button class="default-button button-warning" (click)="dataHandlerService.logOut(router)">Log Out
        </button>
        <br>
        <br>
        <ng-container *ngIf="userData?.availableForAppointment">
            <p>What the patients see:</p>
            <div style="max-width: 380px">
                <app-professional-card
                        [professional]="userData"
                ></app-professional-card>
            </div>
        </ng-container>
    </ng-container>
</div>
