<div class="mat-card-style">

    <ng-container *ngIf="editable">
<!--        <mat-form-field  style="width: 240px" class="example-full-width">-->
<!--            <mat-label>Title:</mat-label>-->
<!--            <input matInput placeholder="" value="{{doctor.title}}">-->
<!--        </mat-form-field>-->
        <mat-form-field style="width: 240px" class="example-full-width">
            <mat-label>Title</mat-label>
            <mat-select matNativeControl [(value)]="doctor.title">
                <ng-container *ngFor="let title of titles" >
                    <mat-option value="{{title.value}}">
                        {{title.value}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 240px" class="example-full-width">
            <mat-label>Name:</mat-label>
            <input matInput placeholder="" value="{{doctor.name}}">
        </mat-form-field>

        <mat-form-field  style="width: 240px" class="example-full-width">
            <mat-label>Registration Number (SLMC):</mat-label>
            <input matInput placeholder=""  value="{{doctor.doctorRegistrationNumber}}">
        </mat-form-field>

        <mat-form-field  style="width: 240px" class="example-full-width">
            <mat-label>Qualifications:</mat-label>
            <input matInput placeholder="" value="{{doctor.qualificationString}}">
        </mat-form-field>

<!--        <mat-form-field  style="width: 240px" class="example-full-width">-->
<!--            <mat-label>Specialization #1:</mat-label>-->
<!--            <input matInput placeholder="" value="{{doctor.specialization_1}}">-->
<!--        </mat-form-field>-->
        <mat-form-field *ngIf="isConsultant(doctor.professionalType)" style="width: 240px" class="example-full-width">
            <mat-label>Specialization #1</mat-label>
            <mat-select matNativeControl [(value)]="doctor.specialization_1">
                <ng-container *ngFor="let specialization of specializations" >
                    <mat-option value="{{specialization.value}}">
                        {{specialization.value}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="isConsultant(doctor.professionalType)" style="width: 240px" class="example-full-width">
            <mat-label>Specialization #2 (Optional)</mat-label>
            <mat-select matNativeControl [(value)]="doctor.specialization_2">
                <ng-container *ngFor="let specialization of specializations" >
                    <mat-option value="{{specialization.value}}">
                        {{specialization.value}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="isConsultant(doctor.professionalType)" style="width: 240px" class="example-full-width">
            <mat-label>Specialization #3 (Optional)</mat-label>
            <mat-select matNativeControl [(value)]="doctor.specialization_3">
                <ng-container *ngFor="let specialization of specializations" >
                    <mat-option value="{{specialization.value}}">
                        {{specialization.value}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <br>
        <br>
        <button style="width: 320px" mat-raised-button color="primary" (click)="toggleEditable(false)">Save</button>
        <br>
        <br>
    </ng-container>

    <ng-container *ngIf="!editable">

        <button style="width: 320px" mat-raised-button color="primary">My Bookings</button>
        <br>
        <br>
        <button style="width: 320px" mat-stroked-button>Edit Schedule</button>
        <br>
        <br>
        <button style="width: 320px" mat-stroked-button>My Finances</button>
        <br>
        <br>
        <button style="width: 320px" mat-stroked-button (click)="toggleEditable(true)">Edit Profile</button>
        <br>
        <br>

        <mat-label style="font-size: small">Title:</mat-label>
        <br>
        <mat-label>{{doctor.title}}</mat-label>
        <br>
        <br>
        <mat-label style="font-size: small">Name:</mat-label>
        <br>
        <mat-label>{{doctor.name}}</mat-label>
        <br>
        <br>
        <mat-label style="font-size: small">Registration Number (SLMC):</mat-label>
        <br>
        <mat-label>{{doctor.doctorRegistrationNumber}}</mat-label>
        <br>
        <br>
        <mat-label style="font-size: small">Qualifications:</mat-label>
        <br>
        <mat-label>{{doctor.qualificationString}}</mat-label>
        <br>
        <br>
        <mat-label style="font-size: small">Specializations:</mat-label>
        <br>
        <mat-label>{{doctor.specialization_1}}</mat-label>
        <br>
        <mat-label>{{doctor.specialization_2}}</mat-label>
        <br>
        <mat-label>{{doctor.specialization_3}}</mat-label>
    </ng-container>
</div>
