<div class="mat-card-style">
    <app-page-title [title]="'Booking'"></app-page-title>

    <ng-container>
        <ngb-alert [dismissible]="false">
            <ng-container *ngIf="doctorSide">
                <tr>
                    <h1 style="font-size: x-large">WhatsApp: {{patient?.whatsAppNumber}}</h1>
                </tr>
            </ng-container>
            <ng-container *ngIf="!doctorSide">
                <tr>
                    <h1 style="font-size: x-large" [ngClass]="booking?.status === 'BOOKING_COMPLETED' ? 'strikethrough':'null'">{{booking?.doctorData?.title}}. {{booking?.doctorData?.firstName}} {{booking?.doctorData?.lastName}}</h1>
                </tr>
            </ng-container>
            <tr>
                <td style="font-size: large">Booking ID: {{booking?.appointmentId}}</td>
            </tr>
            <tr>
                <td style="font-size: small">Date: {{booking?.appointmentDate}}</td>
            </tr>
            <tr>
                <td style="font-size: small">Time: {{appointmentTime}}</td>
            </tr>
        </ngb-alert>
        <ngb-alert *ngIf="!doctorSide && getStatusName(booking?.status) === 'Cancelled By Doctor'" [dismissible]="false" type="danger">
            Your appointment has been cancelled by {{booking?.doctorData?.title}}. {{booking?.doctorData?.firstName}} {{booking?.doctorData?.lastName}}. Please contact EZMED with the appointment details and payment details for your refund.<br>
            Email: ezmedltd@gmail.com
        </ngb-alert>
    </ng-container>
    <ng-container *ngIf="!doctorSide">
        <app-professional-card
                [professional]="doctor"
        ></app-professional-card>
    </ng-container>
    <ng-container>
        <ngb-alert *ngIf="booking?.concern" [dismissible]="false" type="danger">
            Patient's concern: <br>{{booking?.concern}}
        </ngb-alert>
    </ng-container>
    <ng-container *ngIf="doctorSide">
        <ng-container *ngIf="!isPatientDetailsShown">
            <button (click)="isPatientDetailsShown = !isPatientDetailsShown" style="width: 180px" color="primary" mat-flat-button>Show Patient Details</button>    <br>
        </ng-container>
        <ng-container *ngIf="isPatientDetailsShown">
            <button (click)="isPatientDetailsShown = !isPatientDetailsShown" style="width: 180px" color="primary" mat-flat-button>Hide Patient Details</button>    <br>
        </ng-container>
        <br>
        <ngb-alert *ngIf="isPatientDetailsShown && patient" [dismissible]="false">
            <p style="font-size: small">Patient Name: {{patient?.title}}. {{patient?.firstName}} {{patient?.lastName}}</p>
            <p style="font-size: small">Patient Ref. No: {{patient?.userId}}</p>
            <p style="font-size: small">Contact number: {{patient?.contactNumber}}</p>
            <p style="font-size: small">Email: {{patient?.email}}</p>
            <p style="font-size: small">Age: {{patient?.age}}</p>
            <p style="font-size: small">Known Allergies: {{patient?.userAllergies}}</p>
        </ngb-alert>
    </ng-container>

    <ngb-alert style="height: 42px;outline-color: white ;background-color: yellow" [dismissible]="false">
        <p style="font-size: small">Booking Status: {{getStatusName(booking?.status)}}</p>
    </ngb-alert>
    <ng-container *ngIf="doctorSide">
        <ng-container *ngIf="!isInProgress(booking?.status)" >
            <button [disabled]="!isNew(booking?.status)" style="width: 320px" color="primary" (click)="start()" mat-flat-button>Start Consultation</button>
            <br>
            <br>
        </ng-container>
        <ng-container *ngIf="isInProgress(booking?.status)">
            <button (click)="end()" color="warn" style="width: 320px" mat-stroked-button>End Consultation</button>
            <br>
            <br>
        </ng-container>

    </ng-container>
    <button (click)="openPastRecords()" style="width: 320px" color="primary" mat-flat-button>Patient's past records</button>
    <br>
    <br>

    <button (click)="goToPrescription()" style="width: 320px" color="accent" mat-flat-button>Prescriptions</button>
    <br>
    <br>

    <ng-container *ngIf="booking?.messageThread">
        <br>
        <p style="font-size: large;">Conversation:</p>
        <mat-divider></mat-divider>

        <br>
        <div *ngFor="let message of booking?.messageThread">
            <div *ngIf="message.sender === 'doctor'" style="align: right">
                <p style="font-style: italic; font-size: small; text-align:right; color: cornflowerblue" role="listitem">You: {{message.message}}</p>
            </div>
            <div *ngIf="message.sender === 'patient'" >
                <p style="font-style: italic; font-size: small; text-align:left; color: slategray" role="listitem">{{patient?.patientName}}: {{message.message}}</p>
            </div>
        </div>

        <mat-divider></mat-divider>

        <br>
    </ng-container>
    <button [disabled]="!isNew(booking?.status)" *ngIf="!isConfirmationActive" (click)="userConsent()" style="width: 320px" mat-flat-button color="warn" >Cancel Booking</button>

    <p *ngIf="isConfirmationActive" align="center">Are you sure?</p>
    <button *ngIf="isConfirmationActive" (click)="cancel()" style="width: 150px" mat-raised-button  color="warn">Cancel Booking</button>
    <span>&nbsp;&nbsp;<button *ngIf="isConfirmationActive" (click)="dismiss()" style="width: 150px" mat-raised-button color="secondary">Dismiss</button></span>
    <br>
    <ng-container *ngIf="isConfirmationActive && !doctorSide">
        <br>
        <ngb-alert [dismissible]="false">
            <strong>Note:</strong> You will not be refunded if you cancel the appointment!
        </ngb-alert>
    </ng-container>
    <button *ngIf="!isConfirmationActive"  (click)="goBack()" style="width: 320px" mat-raised-button color="secondary">Back</button>

</div>
