<div class="mat-card-style">
    <app-page-title [title]="'Appointment'"></app-page-title>
    <ng-container>
        <div class="banner warning">
            <p>Appointment Status: <b>{{getStatusName(appointment?.status)}}</b></p>
        </div>
        <div class="banner info left-aligned">

<!--            <ng-container *ngIf="doctorSide">-->
<!--                <h1 style="font-size: x-large">WhatsApp: <a href="https://wa.me/{{patient?.whatsAppNumber}}">{{patient?.whatsAppNumber}}</a></h1>-->
<!--            </ng-container>-->
            <ng-container *ngIf="doctorSide">
                <h1 style="font-size: large">WhatsApp: <a href="https://wa.me/{{patient?.whatsAppNumber}}?text={{messageText}}">{{patient?.whatsAppNumber}}</a></h1>
            </ng-container>
            <br>


            <ng-container *ngIf="doctorSide">
                <h1 style="font-size: large">Contact: <a href="tel:{{patient?.contactNumber}}">{{patient?.contactNumber}}</a></h1>
            </ng-container>
            <br>


            <ng-container *ngIf="!doctorSide">
                <h1 style="font-size: x-large">{{appointment?.doctorData?.title}}.
                    {{appointment?.doctorData?.firstName}} {{appointment?.doctorData?.lastName}}</h1>
            </ng-container>
            <p>Appointment ID: {{appointment?.appointmentId}}</p>
            <p>Date: {{appointment?.appointmentDate}}</p>
            <p>Time: {{appointmentTime}}</p>
        </div>
        <div class="banner warning" *ngIf="!doctorSide && getStatusName(appointment?.status) === 'Cancelled By Doctor'">
            Your appointment has been cancelled by {{appointment?.doctorData?.title}}.
            {{appointment?.doctorData?.firstName}} {{appointment?.doctorData?.lastName}}. Please contact EZMED with the
            appointment details and payment details for your refund.<br>
            Email: {{contactEmail}}
        </div>
    </ng-container>
    <!--    <ng-container *ngIf="!doctorSide">-->
    <!--        <app-professional-card-->
    <!--                [professional]="doctor"-->
    <!--        ></app-professional-card>-->
    <!--    </ng-container>-->
    <ng-container>
        <div class="banner info left-aligned" *ngIf="appointment?.concern && appointment?.concern !== 'undefined'">
            <p>{{doctorSide ? "Patient's" : "Your"}} concern <br><b><i>"{{appointment?.concern}}"</i></b></p>
        </div>
        <div *ngIf="appointment?.status === 1 && !doctorSide" class="banner info">
            <p>Make yourself available for a call from <b>{{doctor?.contactNumber}}</b>. And please note that the time
                can be slightly changed due to unavoidable reasons</p>
        </div>
    </ng-container>
    <ng-container *ngIf="doctorSide">
        <ng-container *ngIf="!isPatientDetailsShown">
            <button (click)="isPatientDetailsShown = !isPatientDetailsShown" class="default-button">Show Patient Details
            </button>
            <br>
            <br>
        </ng-container>
        <ng-container *ngIf="isPatientDetailsShown">
            <button (click)="isPatientDetailsShown = !isPatientDetailsShown" class="default-button">
                Hide Patient Details
            </button>
        </ng-container>
        <br>
        <div class="banner info left-aligned" *ngIf="isPatientDetailsShown && patient">
            <p style="font-size: small">Patient Name: {{patient?.title}}
                . {{patient?.firstName}} {{patient?.lastName}}</p>
            <p style="font-size: small">Patient Ref. No: {{patient?.userId}}</p>
            <p style="font-size: small">WhatsApp number: {{patient?.whatsAppNumber}}</p>
            <p style="font-size: small">Email: {{patient?.email}}</p>
            <p style="font-size: small">Age: {{patient?.age}}</p>
            <p style="font-size: small">Known Allergies: {{patient?.userAllergies}}</p>
        </div>
    </ng-container>

    <ng-container *ngIf="doctorSide">
        <ng-container *ngIf="!isInProgress(appointment?.status)">
            <button [disabled]="!isNew(appointment?.status)" (click)="start()"
                    class="default-button">Start Consultation
            </button>
            <br>
        </ng-container>
        <ng-container *ngIf="isInProgress(appointment?.status)">
            <button (click)="end()" class="default-button button-warning">End Consultation</button>
            <br>
        </ng-container>
    </ng-container>

    <button [disabled]="!(medicalHistory && medicalHistory.length > 0)" (click)="openPastRecords()"
            class="default-button">Medical History
    </button>
    <br>
    <button (click)="goToMedicalReports()" class="default-button">Medical reports</button>
    <br>

    <button (click)="goToPrescription()" class="default-button">Prescriptions</button>
    <br>

    <button [disabled]="!isNew(appointment?.status)" *ngIf="!isConfirmationActive" (click)="userConsent()"
            class="default-button button-warning">Cancel Appointment
    </button>
    <br>
    <ng-container *ngIf="isConfirmationActive">
        <br>
        <p align="center">Are you sure?</p>
        <div *ngIf="!doctorSide" class="banner warning">
            <p>You will not be refunded if you cancel the appointment</p>
            <br>
        </div>
        <button (click)="cancel()" style="width: 150px" mat-raised-button color="warn">Cancel
            Appointment
        </button>
        <span>&nbsp;&nbsp;<button (click)="dismiss()" style="width: 150px" mat-raised-button
                                  color="secondary">Dismiss</button></span>
        <br>

    </ng-container>
    <button *ngIf="!isConfirmationActive" (click)="goBack()" class="default-button button-warning">
        Back
    </button>

</div>
