<div class="mat-card-style" align="left">
    <app-page-title [title]="'Control Panel'"></app-page-title>
    <br>
    <!--    summary-->
    <div class="simple-form_2">
        <div>
            <p style="color: #087200; margin: 5px; font-size: small">Completed</p>
            <div class="banner success" style="margin: 2px; width: auto; height: auto">
                <p style="font-size: xxx-large"><b>{{countA}}</b></p>
            </div>
        </div>
        <div>
            <p style="color: #6a5800; margin: 5px; font-size: small">Not Started</p>
            <div class="banner warning" style="margin: 2px; width: auto; height: auto">
                <p style="font-size: large"><b>{{countB}}</b></p>
            </div>
        </div>
        <div>
            <p style="color: #FF0000; margin: 5px; font-size: small">Cancelled</p>
            <div class="banner error" style="margin: 2px; width: auto; height: auto">
                <p style="font-size: large"><b>{{countC}}</b></p>
            </div>
        </div>

    </div>

    <!--    Doctor Profile Activation-->
    <h3 (click)="visibleSection = visibleSection ? '':'dpa'"
        class="collapsible">{{visibleSection === 'dpa' ? '- ' : '+ '}} Doctor Profile Activation</h3>
    <ng-container *ngIf="visibleSection === 'dpa'">
        <p>Activate professional's profile for appointments</p>
        <div class="simple-form">
            <label>Email</label><input [(ngModel)]="email">
            <label>ID</label><input disabled [(ngModel)]="id">
            <label>Value</label>
            <div>
                <input style="margin: 5px" type="checkbox" [(ngModel)]="activated">
                <label style="margin: 5px"> Activate </label>
            </div>

            <button class="default-button" style="width: 100px">Save</button>
        </div>
    </ng-container>

    <!--    Configurations-->
    <h3 (click)="visibleSection = visibleSection ? '':'configs'"
        class="collapsible">{{visibleSection === 'config' ? '- ' : '+ '}} Configurations</h3>
    <ng-container *ngIf="visibleSection === 'configs'">
        <p>Set configuration values</p>
        <div class="simple-form">
            <label>Code</label><input [(ngModel)]="code">
            <label>Description</label><input [(ngModel)]="desc">
            <label>Value</label><textarea style="height: 200px" [(ngModel)]="configValue"></textarea>
        </div>
        <button (click)="loadConfig()" class="default-button" style="width: 100px">Load</button>
        <button (click)="addConfig()" class="default-button" style="width: 100px">Save</button>

    </ng-container>

    <!--    Promo codes-->
    <h3 (click)="visibleSection = visibleSection ? '':'prcodes'"
        class="collapsible">{{visibleSection === 'prcodes' ? '- ' : '+ '}} Promo Codes</h3>
    <ng-container *ngIf="visibleSection === 'prcodes'">
        <p><b>Promo codes</b></p>
        <ng-container *ngFor="let promo of promos">
            <div class="simple-form">
                <p>Promo Code</p><input disabled [value]="promo?.code">
                <p>Description</p><input disabled [value]="promo?.description">
                <p>Expire Date</p><input disabled [value]="promo?.validTo">
                <p>Initiation Date</p><input disabled [value]="promo?.validFrom">
                <p>Priority</p><input disabled [value]="promo?.priority">
                <p>RateType</p><input disabled [value]="promo?.rateType">
                <p>Rate</p><input disabled [value]="promo?.rate">
                <p>Rule Type</p><input disabled [value]="promo?.ruleType">
                <p>Rules</p><input disabled [value]="promo?.rules">
            </div>
            <br>
        </ng-container>
        <button *ngIf="!(promos && promos.length)" (click)="loadPromoCodes()" class="default-button">Load Promo Codes</button>
        <p><b>Set promo code values</b></p>
        <div class="simple-form">
            <label>Promo Code</label><input [(ngModel)]="pCode">
            <label>Description</label><input [(ngModel)]="pDescription">
            <label>Expire Date</label><input [(ngModel)]="pValidTo">
            <label>Initiation Date</label><input [(ngModel)]="pValidFrom">
            <label>Priority</label><input [(ngModel)]="pPriority">
            <label>RateType</label><input [(ngModel)]="pRateType">
            <label>Rate</label><input [(ngModel)]="pRate">
            <label>Rule Type</label><input [(ngModel)]="pRuleType">
            <label>Rules</label><textarea style="height: 200px" [(ngModel)]="pRules"></textarea>
        </div>
        <button (click)="loadPromoCode()" class="default-button" style="width: 100px">Load</button>
        <button (click)="savePromoCode()" class="default-button" style="width: 100px">Save</button>
    </ng-container>

    <!--    Doctor Profile Editable Toggle-->
    <h3 (click)="visibleSection = visibleSection ? '':'dpet'"
        class="collapsible">{{visibleSection === 'dpet' ? '- ' : '+ '}} Doctor Profile Editable Toggle</h3>
    <ng-container *ngIf="visibleSection === 'dpet'">
        <p>Make a professional's profile editable</p>
        <div class="simple-form">
            <label>Email</label><input [(ngModel)]="email">
            <label>ID</label><input disabled [(ngModel)]="id">
            <label>Value</label>
            <div>
                <input style="margin: 5px" type="checkbox" [(ngModel)]="editable">
                <label style="margin: 5px"> Enable </label>
            </div>

            <button [disabled]="!email" (click)="setEditableMode()" class="default-button" style="width: 100px">Save
            </button>
        </div>
    </ng-container>

    <!--    Doctor Profile Bio Section-->
    <h3 (click)="visibleSection = visibleSection ? '':'bio'"
        class="collapsible">{{visibleSection === 'bio' ? '- ' : '+ '}} Doctor Profile Bio Section</h3>
    <ng-container *ngIf="visibleSection === 'bio'">
        <p>Fill the professional's profile bio</p>
        <div class="simple-form">
            <label>Email</label><input [(ngModel)]="email">
            <label>ID</label><input disabled [(ngModel)]="id">
            <label>Bio</label><textarea style="height: 200px" [(ngModel)]="bio"></textarea>

            <button [disabled]="!email" (click)="setBio()" class="default-button" style="width: 100px">Save</button>
        </div>
    </ng-container>

    <!--    Profile password management-->
    <h3 (click)="visibleSection = visibleSection ? '':'ppwm'"
        class="collapsible">{{visibleSection === 'ppwm' ? '- ' : '+ '}} Profile password management</h3>
    <ng-container *ngIf="visibleSection === 'ppwm'">
        <p>Make changes to profile passwords</p>
        <div class="simple-form">
            <label>Email</label><input>
            <label>ID</label><input disabled>
            <label>New Password</label><input>

            <button class="default-button" style="width: 100px">Save</button>
        </div>
    </ng-container>

</div>
