<div class="mat-card-style" [ngClass]="{'is-disabled' : !isUnlocked()}" align="left">
    <app-page-title [title]="'Control Panel'"></app-page-title>
    <br>
    <!--    summary-->
    <div class="simple-form_2">
        <div>
            <p style="color: #087200; margin: 5px; font-size: small">Completed</p>
            <div class="banner success" style="margin: 2px; width: auto; height: auto">
                <p style="font-size: xxx-large"><b>{{countA}}</b></p>
            </div>
        </div>
        <div>
            <p style="color: #6a5800; margin: 5px; font-size: small">Not Started</p>
            <div class="banner warning" style="margin: 2px; width: auto; height: auto">
                <p style="font-size: large"><b>{{countB}}</b></p>
            </div>
        </div>
        <div>
            <p style="color: #FF0000; margin: 5px; font-size: small">Cancelled</p>
            <div class="banner error" style="margin: 2px; width: auto; height: auto">
                <p style="font-size: large"><b>{{countC}}</b></p>
            </div>
        </div>

    </div>

    <!--    Doctor Profile Visibility-->
    <h3 (click)="visibleSection = visibleSection ? '':'dpa'"
        class="collapsible">{{visibleSection === 'dpa' ? '- ' : '+ '}} Doctor Profile Visibility</h3>
    <ng-container *ngIf="visibleSection === 'dpa'">
        <p>Professional's profile visibility for appointments</p>
        <div class="simple-form">
            <label>Email</label><input [(ngModel)]="email">
            <label>ID</label><input disabled [(ngModel)]="id">
            <label>Value</label>
            <div>
                <input style="margin: 5px" type="checkbox" [(ngModel)]="activated">
                <label style="margin: 5px"> Visible </label>
            </div>
            <button class="default-button" style="width: 100px" (click)="setProfileVisibility()">Save</button>
        </div>
    </ng-container>

    <!--    Configurations-->
    <h3 (click)="visibleSection = visibleSection ? '':'configs'"
        class="collapsible">{{visibleSection === 'config' ? '- ' : '+ '}} Configurations</h3>
    <ng-container *ngIf="visibleSection === 'configs'">
        <p>Set configuration values</p>
        <div class="simple-form">
            <label>Code</label><input [(ngModel)]="code">
            <label>Description</label><input [(ngModel)]="desc">
            <label>Value</label><textarea style="height: 200px" [(ngModel)]="configValue"></textarea>
        </div>
        <button (click)="loadConfig()" class="default-button" style="width: 100px">Load</button>
        <button (click)="addConfig()" class="default-button" style="width: 100px">Save</button>

    </ng-container>

    <!--    Pricing rules-->
    <h3 (click)="visibleSection = visibleSection ? '':'prcodes'"
        class="collapsible">{{visibleSection === 'prcodes' ? '- ' : '+ '}} Pricing Rules</h3>
    <ng-container *ngIf="visibleSection === 'prcodes'">
        <p><b>Pricing rules</b></p>
        <ng-container *ngFor="let pricingRule of pricingRules">
            <div class="simple-form">
                <p>Code</p><input disabled [value]="pricingRule?.code">
                <p>Description</p><input disabled [value]="pricingRule?.description">
                <p>Expire Date</p><input disabled [value]="pricingRule?.validTo">
                <p>Initiation Date</p><input disabled [value]="pricingRule?.validFrom">
                <p>Priority</p><input disabled [value]="pricingRule?.priority">
                <p>RateType</p><input disabled [value]="pricingRule?.rateType">
                <p>Rate</p><input disabled [value]="pricingRule?.rate">
                <p>Public</p><input disabled [value]="pricingRule?.public">
                <p>Rule Type</p><input disabled [value]="pricingRule?.ruleType">
                <p>Rules</p><input disabled [value]="pricingRule?.controlRules">
            </div>
            <br>
        </ng-container>
        <button *ngIf="!(pricingRules && pricingRules.length)" (click)="loadPricingRules()" class="default-button">Load Pricing Rules</button>
        <p><b>Set pricing rule code values</b></p>
        <div class="simple-form">
            <label>Code</label><input [(ngModel)]="pricingRule.code">
            <label>Description</label><input [(ngModel)]="pricingRule.description">
            <label>Expire Date</label><input [(ngModel)]="pricingRule.validTo">
            <label>Initiation Date</label><input [(ngModel)]="pricingRule.validFrom">
            <label>Priority</label><input [(ngModel)]="pricingRule.priority">
            <label>RateType</label><input [(ngModel)]="pricingRule.rateType">
            <label>Rate</label><input [(ngModel)]="pricingRule.rate">
            <label>Public</label><input [(ngModel)]="pricingRule.public">
            <label>Rule Type</label><input [(ngModel)]="pricingRule.ruleType">
            <label>Control Rules</label><textarea style="height: 200px" [(ngModel)]="pricingRule.controlRules"></textarea>
        </div>
        <button (click)="loadPricingRule()" class="default-button" style="width: 100px">Load</button>
        <button (click)="addNewPricingRule()" class="default-button" style="width: 100px">Add New</button>
        <button (click)="updatePricingRule()" class="default-button" style="width: 100px">Update</button>
        <button (click)="deletePricingRule()" class="default-button" style="width: 100px">Delete</button>
    </ng-container>

    <!--    Doctor Profile Editable Toggle-->
    <h3 (click)="visibleSection = visibleSection ? '':'dpet'"
        class="collapsible">{{visibleSection === 'dpet' ? '- ' : '+ '}} Doctor Profile Editable Toggle</h3>
    <ng-container *ngIf="visibleSection === 'dpet'">
        <p>Make a professional's profile editable</p>
        <div class="simple-form">
            <label>Email</label><input [(ngModel)]="email">
            <label>ID</label><input disabled [(ngModel)]="id">
            <label>Value</label>
            <div>
                <input style="margin: 5px" type="checkbox" [(ngModel)]="editable">
                <label style="margin: 5px"> Enable </label>
            </div>

            <button [disabled]="!email" (click)="setEditableMode()" class="default-button" style="width: 100px">Save
            </button>
        </div>
    </ng-container>

    <!--    Doctor Profile Bio Section-->
    <h3 (click)="visibleSection = visibleSection ? '':'bio'"
        class="collapsible">{{visibleSection === 'bio' ? '- ' : '+ '}} Doctor Profile Bio Section</h3>
    <ng-container *ngIf="visibleSection === 'bio'">
        <p>Fill the professional's profile bio</p>
        <div class="simple-form">
            <label>Email</label><input [(ngModel)]="email">
            <label>ID</label><input disabled [(ngModel)]="id">
            <label>Bio</label><textarea style="height: 200px" [(ngModel)]="bio"></textarea>

            <button [disabled]="!email" (click)="setBio()" class="default-button" style="width: 100px">Save</button>
        </div>
    </ng-container>

    <!--    Profile password management-->
    <h3 (click)="visibleSection = visibleSection ? '':'ppwm'"
        class="collapsible">{{visibleSection === 'ppwm' ? '- ' : '+ '}} Profile password management</h3>
    <ng-container *ngIf="visibleSection === 'ppwm'">
        <p>Make changes to profile passwords</p>
        <div class="simple-form">
            <label>Email</label><input [(ngModel)]="email">
            <label>ID</label><input disabled>
            <label>New Password</label><input [(ngModel)]="newPW">

            <button (click)="setPW()" class="default-button" style="width: 100px">Save</button>
        </div>
    </ng-container>

</div>
<div class="mat-card-style" align="left">
    <input [(ngModel)]="unlockPW">
</div>
