<div class="mat-card-style">
    <ng-container *ngIf="!selectedBookingId">

        <app-page-title [title]="title"></app-page-title>

        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="all">All</mat-radio-button>
            <mat-radio-button value="new">New</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>

        <div *ngFor="let booking of bookings">
            <ng-container>
                <mat-card (click)="selectBooking(booking.bookingId)" style="width: 240px; height: 90px;" [ngStyle]="{background: getColor(booking.bookingStatus)}">
                    <table>
                        <tr>
                            <td style="font-size: large" [ngClass]="booking.bookingStatus === 'BOOKING_COMPLETED' ? 'strikethrough':'null'">{{booking.doctorName}}</td>
                        </tr>
                        <tr>
                            <td style="font-size: small">Date: {{booking.date}}</td>
                        </tr>
                        <tr>
                            <td style="font-size: x-small">Booking ID: {{booking.bookingId}}</td>
                        </tr>
                    </table>
                </mat-card>
                <br>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="selectedBookingId && !isPrescriptionsVisible">
        <app-page-title [title]="titleBooking"></app-page-title>

        <h1 style="font-size: x-large">{{booking.doctorName}}</h1>

        <p style="font-size: small">Professional ID: {{booking.doctorId}}</p>
        <p style="font-size: small">Booking Number: {{booking.bookingId}}</p>

        <p style="font-size: small">Booking Status: {{booking.bookingStatus}}</p>
        <mat-divider></mat-divider>
        <br>

        <button (click)="showPrescriptions(booking.bookingId, true)" style="width: 320px" color="accent" mat-flat-button>Prescriptions</button>
        <br>

        <br>
        <p style="font-size: large;">Conversation:</p>
        <mat-divider></mat-divider>


        <div *ngFor="let message of booking.messageThread">
            <div *ngIf="message.sender === 'doctor'" style="align: right">
                <p style="font-style: italic; font-size: small; text-align:right; color: cornflowerblue" role="listitem">You: {{message.message}}</p>
            </div>
            <div *ngIf="message.sender === 'patient'" >
                <p style="font-style: italic; font-size: small; text-align:left; color: slategray" role="listitem">{{booking.patientName}}: {{message.message}}</p>
            </div>
        </div>

        <mat-divider></mat-divider>

        <br>
        <br>
        <button *ngIf="!isConfirmationActive" (click)="isConfirmationActive = !isConfirmationActive"  [disabled]="changeRequestSent" style="width: 320px" mat-raised-button color="warn">Cancel Booking</button>
        <p *ngIf="isConfirmationActive" align="center">If you cancel this booking, you will not be able to reactivate this booking again. Are you sure?</p>
        <button *ngIf="isConfirmationActive" (click)="save()" style="width: 150px" mat-raised-button color="warn">Yes</button>
        <span>&nbsp;&nbsp;<button *ngIf="isConfirmationActive" (click)="cancel()" style="width: 150px" mat-raised-button color="secondary">No, Go back</button></span>
        <br *ngIf="isConfirmationActive" >
        <br>
        <button *ngIf="!isConfirmationActive" (click)="selectedBookingId = null" style="width: 320px" mat-raised-button color="secondary">Back</button>
    </ng-container>
    <ng-container *ngIf="isPrescriptionsVisible && !selectedPrescription">
        <div *ngFor="let prescription of prescriptionList; index as index">
            <ng-container>
                <mat-card (click)="selectPrescription(prescription.prescription)" style="width: 240px; height: 40px;">
                    <table>
                        <tr>
                            <td style="font-size: small">{{index}}</td>
                        </tr>
                    </table>
                </mat-card>
                <br>
            </ng-container>
        </div>
        <br>
        <button (click)="showPrescriptions(null, false)" style="width: 240px" color="primary" mat-flat-button>Back</button>
    </ng-container>
    <ng-container  *ngIf="isPrescriptionsVisible && selectedPrescription">
        <p style="font-size: small">Date: {{currentDate | date:'yyyy-MM-dd'}}</p>
        <p style="font-size: small">Name: <b>{{booking.patientName}}</b></p>
        <p style="font-size: small">Age: {{booking.patientAge}} yrs</p>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <div>
            <p style="font-size: small; text-align: center"><b><u>PRESCRIPTION</u></b></p>

            <br>
            <li  style="padding-bottom: 10px; font-size: small" *ngFor="let item of items">{{item}}</li>

            <table>
                <br>
                <tr>
                    <th style="font-size: medium; text-align: left">
                        {{doctor.name}}
                    </th>
                </tr>
                <tr>
                    <td style="font-size: x-small; text-align: left">
                        {{doctor.bio}}
                    </td>
                </tr>
            </table>
            <p style="font-size: x-small">** No signature required. This is a electronically generated document that could only be edited by the prescriber **</p>

            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <br>
            <button (click)="selectPrescription(null)" style="width: 320px" color="primary" mat-flat-button>Back</button>

        </div>
    </ng-container>
</div>
