<div align="center" class="mat-card-style">
    <app-page-title [title]="'Sign In / Register'"></app-page-title>
    <!--    <script src="https://theapicompany.com/deviceAPI.js"></script>-->
    <script>
        // var eee = deviceAPI.deviceName;
        // console.log('eee e r ffffff fffffff xxxxx');
        // console.log(eee);
    </script>
    <mat-tab-group style="width: 320px" mat-align-tabs="center">
        <ng-container>
            <mat-tab label="Existing User">
                <br>
                <mat-form-field style="width: 240px" appearance="legacy">
                    <mat-label>Email</mat-label>
                    <input (keydown.enter)="logIn()" [(ngModel)]="email"
                           pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" matInput>
                </mat-form-field>
                <br>
                <mat-form-field style="width: 240px" appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input (keydown.enter)="logIn()"
                           pattern=".{5,}" matInput [(ngModel)]="pass"
                           [type]="hide ? 'password' : 'text'">
                </mat-form-field>
                <div *ngIf="logInError && logInError !== ''" class="banner error">
                    <p>{{logInError}}</p>
                </div>
                <button class="default-button" type="submit" [disabled]="!(email && pass)" (click)="logIn()">Log In
                </button>
                <br>
                <button [disabled]="true" class="default-button forgot-my-password-button">Forgot My Password</button>
                <div style="padding: 20px"></div>
            </mat-tab>
        </ng-container>
        <ng-container *ngIf="isSignUp">
            <mat-tab label="New User">
                <br>
                <p style="color: crimson" *ngIf="isIncompleteErrorAvailable">Looks like some details are
                    missing/wrong!!</p>
                <br>
                <div align="left" style="padding-left: 55px">
                    <mat-radio-group aria-label="Select an option" (change)="setIsDoctor($event)">
                        <mat-radio-button [checked]='true' value=false>I'm a Patient</mat-radio-button>
                        <mat-radio-button value=true>I'm a Medical Professional</mat-radio-button>
                        <br>
                    </mat-radio-group>
                </div>
                <br>
                <div>
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>Title</mat-label>
                        <mat-select required [(value)]="title" [formControl]="titleFormControl">
                            <ng-container *ngFor="let title of titles">
                                <mat-option value="{{title}}">
                                    {{title}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <br>
                </div>
                <div>
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>First Name</mat-label>
                        <input required matInput #input1 [(ngModel)]='firstName'
                               [formControl]="firstNameFormControl">
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>Last Name</mat-label>
                        <input required matInput #input_ln [(ngModel)]='lastName'
                               [formControl]="lastNameFormControl">
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input required matInput pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                               #input2 [(ngModel)]='email' [formControl]="emailFormControl">
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>Gender</mat-label>
                        <mat-select required (selectionChange)="setGender($event.value)"
                                    [formControl]="genderFormControl">
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                {{gender.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                </div>
                <div [hidden]="isDoctor">
                    <mat-form-field style="width: 240px">
                        <input matInput readonly required [matDatepicker]="picker1" placeholder="Birthday:"
                               [formControl]="bDayFormControl">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker
                                startView="multi-year"
                                touchUi disabled="false" #picker1></mat-datepicker>
                    </mat-form-field>
                    <br>
                </div>
                <div>
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>Phone Number</mat-label>
                        <input required matInput [(ngModel)]='contactNumber'
                               [formControl]="contactNumberFormControl">
                    </mat-form-field>
                </div>

                <div *ngIf="contactNumber && contactNumber !== ''"
                     class="banner info" style="padding: 15px 15px 0px 15px; width: 250px">
                    <p><span style="margin-right: 5px"><input type="checkbox" style="font-size: small"
                                                              class="example-margin"
                                                              (change)="setSimilarity()"></span>
                        <span> WhatsApp number is the same as contact number</span></p>
                </div>

                <div>
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>WhatsApp Number</mat-label>
                        <input matInput #input7 [(ngModel)]='whatsAppNumber'
                               [formControl]="whatsAppNumberFormControl">
                    </mat-form-field>
                </div>
                <div [hidden]="isDoctor">
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>Known Allergies</mat-label>
                        <textarea type="text" matInput #input8 [(ngModel)]='knownAllergies'></textarea>
                    </mat-form-field>
                    <br>
                </div>
                <mat-form-field style="width: 240px" appearance="legacy">
                    <mat-label>Preferred Password</mat-label>
                    <input matInput
                           pattern=".{5,}"
                           required [type]="hide ? 'password' : 'text'" [(ngModel)]='pass'
                           [formControl]="passFormControl">
                </mat-form-field>
                <br>
                <mat-form-field style="width: 240px" appearance="legacy">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput
                           pattern=".{5,}"
                           required [type]="hide ? 'password' : 'text'" [(ngModel)]='conPass'
                           [formControl]="conPassFormControl">
                </mat-form-field>
                <br>
                <ng-container *ngIf="isDoctor">
                    <mat-expansion-panel style="width: 250px" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{!panelOpenState ? 'Show' : 'Hide'}} Agreement
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            {{AGREEMENT_REGISTER_DOCTOR}}
                        </p>
                        <br>
                        <section style="vertical-align: center" class="example-section">
                            <mat-checkbox style="font-size: small" class="example-margin"
                                          (change)="agreed = !agreed">I agree to the terms & conditions
                            </mat-checkbox>
                        </section>
                    </mat-expansion-panel>
                </ng-container>
                <ng-container *ngIf="!isDoctor">
                    <mat-expansion-panel style="width: 250px" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{!panelOpenState ? 'Show' : 'Hide'}} Agreement
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            {{AGREEMENT_REGISTER_PATIENT}}
                        </p>
                        <br>

                        <section style="vertical-align: center" class="example-section">
                            <mat-checkbox style="font-size: small" class="example-margin"
                                          (change)="agreed = !agreed">I agree to the terms & conditions
                            </mat-checkbox>
                        </section>
                    </mat-expansion-panel>
                </ng-container>
                <br>
                <button class="default-button" [disabled]="!agreed" (click)="SignUp()">Sign Up
                </button>
                <br>
                <br>
                <p style="color: crimson" *ngIf="passwordMissMatch">Password and Confirmed password do not
                    match!!</p>
                <br>
            </mat-tab>
        </ng-container>

    </mat-tab-group>
</div>
