<div align="center">
    <mat-tab-group style="width: 320px" mat-align-tabs="center">
        <mat-tab label="Existing User">
            <div class="mat-card-style" align="center">
                <div class="example-container">
                    <mat-form-field appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                    </mat-form-field>
                    <br>
                    <br>
                    <button style="width: 250px" mat-flat-button color="primary">Log In</button>
                    <br>
                    <br>
                    <button style="width: 180px"  mat-stroked-button color="link">Forgot My Password</button>
                    <br>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="New Users">
            <div class="mat-card-style" align="center">
                <div class="example-container">
                    <mat-form-field appearance="legacy">
                        <mat-label>First Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Skype ID</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Preferred Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                    </mat-form-field>
                    <br>
                    <br>
                    <button style="width: 250px" mat-flat-button color="primary">Sign Up</button>
                    <br>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
