<div align="center" class="mat-card-style">
    <app-page-title [title]="'Search Professionals'"></app-page-title>

    <mat-tab-group style="width: 320px" mat-align-tabs="center">
        <ng-container>
        <mat-tab label="Existing User">
            <div class="mat-card-style" align="center">
                <div class="example-container">
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="email" matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 240px" appearance="legacy">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="pass" [type]="hide ? 'password' : 'text'">
                    </mat-form-field>
                    <br>
                    <p style="color: crimson" *ngIf="logInError && logInError !== ''">{{logInError}}</p>
                    <br>
                    <button [disabled]="!(email && pass)" (click)="logIn()" style="width: 240px" mat-flat-button color="primary">Log In</button>
                    <br>
                    <br>
                    <button disabled style="width: 180px"  mat-stroked-button color="link">Forgot My Password</button>
                    <br>
                </div>
            </div>
        </mat-tab>
        </ng-container>
        <ng-container *ngIf="isSignUp">
            <mat-tab label="New User">
                <div class="mat-card-style" align="center">
                    <br>
                    <p style="color: crimson" *ngIf="isIncompleteErrorAvailable">Please complete the mandatory details !!</p>
                    <br>
                    <div align="left" style="padding-left: 55px">
                        <mat-radio-group aria-label="Select an option" (change)="setIsDoctor($event)">
                            <mat-radio-button [checked]='true' value=false>I'm a Patient</mat-radio-button>
                            <mat-radio-button value=true>I'm a Medical Professional</mat-radio-button>
                            <br>
                        </mat-radio-group>
                    </div>
                    <br>
                    <div>
                        <mat-form-field style="width: 240px" appearance="legacy">
                            <mat-label>Title</mat-label>
                            <mat-select required [(value)]="title" [formControl]="titleFormControl">
                                <ng-container *ngFor="let title of titles" >
                                    <mat-option value="{{title}}">
                                        {{title}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <br>
                    </div>
                    <div>
                        <mat-form-field style="width: 240px" appearance="legacy">
                            <mat-label>First Name</mat-label>
                            <input required matInput #input1 [(ngModel)]='firstName' [formControl]="firstNameFormControl">
                        </mat-form-field>
                        <br>
                        <mat-form-field style="width: 240px" appearance="legacy">
                            <mat-label>Last Name</mat-label>
                            <input required matInput #input_ln [(ngModel)]='lastName' [formControl]="lastNameFormControl">
                        </mat-form-field>
                        <br>
                        <mat-form-field style="width: 240px"  appearance="legacy">
                            <mat-label>Email</mat-label>
                            <input required matInput #input2 [(ngModel)]='email' [formControl]="emailFormControl">
                        </mat-form-field>
                        <br>
                        <mat-form-field style="width: 240px"  appearance="legacy">
                            <mat-label>Gender</mat-label>
                            <mat-select required (selectionChange)="setGender($event.value)" [formControl]="genderFormControl">
                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                    </div>
                    <div [hidden]="isDoctor">
                        <mat-form-field style="width: 240px" >
                            <input matInput readonly required [matDatepicker]="picker1" placeholder="Birthday:" [formControl]="bDayFormControl">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker disabled="false" #picker1></mat-datepicker>
                        </mat-form-field>
                        <br>
                    </div>
                    <div>
                        <mat-form-field style="width: 240px" appearance="legacy">
                            <mat-label>Contact Number<br>(Could be the WhatsApp Number)</mat-label>
                            <br>
                            <input required matInput [(ngModel)]='contactNumber' [formControl]="contactNumberFormControl">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field style="width: 240px"  appearance="legacy">
                            <mat-label>WhatsApp Number</mat-label>
                            <input required matInput #input7 [(ngModel)]='whatsAppNumber' [formControl]="whatsAppNumberFormControl">
                        </mat-form-field>
                    </div>
                    <div [hidden]="isDoctor">
                        <mat-form-field style="width: 240px"  appearance="legacy">
                            <mat-label>Known Allergies</mat-label>
                            <textarea type="text" matInput #input8 [(ngModel)]='knownAllergies'></textarea>
                        </mat-form-field>
                        <br>
                    </div>
                    <mat-form-field style="width: 240px"  appearance="legacy">
                        <mat-label>Preferred Password</mat-label>
                        <input matInput required [type]="hide ? 'password' : 'text'" [(ngModel)]='pass' [formControl]="passFormControl">
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 240px"  appearance="legacy">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput required [type]="hide ? 'password' : 'text'" [(ngModel)]='conPass' [formControl]="conPassFormControl">
                    </mat-form-field>
                    <br>
                    <br>
                    <button style="width: 240px" mat-flat-button color="primary" (click)="SignUp()">Sign Up</button>
                    <br>
                    <br>
                    <p style="color: crimson" *ngIf="passwordMissMatch">Password and Confirmed password do not match!!</p>
                    <br>
                </div>
            </mat-tab>
        </ng-container>

    </mat-tab-group>
</div>
