/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    background-color: #0056e7;
    border: none;
    color: white;
    width: 250px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.04), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
